.titles-inneo
	CLIENTES SATISFECHOS
.separador
	= image_tag("frontend/Separador secciones.png")
%center
	.textos
		Únete a nuestros felices clientes y permítenos ser parte de tu historia.

.coments
	#myCarousel2.carousel.slide		
		.carousel-inner
			.active.item
				.row
					%center#foto-testimonio	
						= image_tag("frontend/testimonio.png")
				.row#row-testimonio
					.col-lg-2.col-md-2.col-sm-2.col-xs-2
						#comillas.pull-right
							= image_tag("frontend/comillas.png")
					.col-lg-8.col-md-8.col-sm-8.col-xs-8
						#testimonio
							Lorem ipsum dolor estem so su Lorem ipsum dolor estem so su Lorem ipsum dolor estem so su Lorem ipsum dolor estem so su Lorem ipsum dolor estem so su Lorem ipsum dolor estem so su 
						#autor
							Primer Comentario - Lorem ipsum dolor estem so su 
					.col-lg-2.col-md-2.col-sm-2.col-xs-2
						#comillas
							= image_tag("frontend/comillas2.png")
						
			.item	
				.row
					%center#foto-testimonio	
						= image_tag("frontend/testimonio.png")
				.row#row-testimonio
					.col-lg-2.col-md-2.col-sm-2.col-xs-2
						#comillas.pull-right
							= image_tag("frontend/comillas.png")
					.col-lg-8.col-md-8.col-sm-8.col-xs-8
						#testimonio
							Lorem ipsum dolor estem so su Lorem ipsum dolor estem so su Lorem ipsum dolor estem so su Lorem ipsum dolor estem so su Lorem ipsum dolor estem so su Lorem ipsum dolor estem so su 
						#autor
							Segundo Comentario - Lorem ipsum dolor estem so su 
					.col-lg-2.col-md-2.col-sm-2.col-xs-2
						#comillas
							= image_tag("frontend/comillas2.png")
		
		.progress.hidden-sm.hidden-xs
			.progress-bar.progress-bar-warning.current{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "0", :role => "progressbar"}
		.controls.hidden-lg.hidden-md
			%a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel2", :role => "button"}
				%span.fa.fa-chevron-left#control{"aria-hidden" => "true"}
				%span.sr-only Previous
			%a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel2", :role => "button"}
				%span.fa.fa-chevron-right#control{"aria-hidden" => "true"}
				%span.sr-only Next
		:javascript
			$('.current').on('webkitAnimationIteration', function(event) { 
				$('#myCarousel2').carousel('next');
			});

