.row{style: "margin:0;"}
	%center
		#inneo-color
			= image_tag("frontend/Logotipo footer.png", style: "margin-top:70px;")
.col-md-12.col-sm-12#contactos{style: "margin:0; padding: 0;"}
	.col-md-4.col-sm-4.col-xs-3.hidden-xs.hidden-sm{style: "margin:0; padding: 0;"}
		%center
			.inneo-footer
				= image_tag("frontend/isotipo footer.png")
	.col-md-4.col-sm-12.col-xs-12
		.col-md-3.col-sm-3.col-xs-3{style: "margin:0; padding: 0;"}
			%center
				= link_to "https://twitter.com/inneopro" do
					%i.fa.fa-twitter#socials
		.col-md-3.col-sm-3.col-xs-3{style: "margin:0; padding: 0;"}
			%center
				= link_to "https://www.facebook.com/inneopro" do 
					%i.fa.fa-facebook-official#socials
		.col-md-3.col-sm-3.col-xs-3{style: "margin:0; padding: 0;"}
			%center
				= link_to "https://instagram.com/inneopro" do
					%i.fa.fa-instagram#socials
		.col-md-3.col-sm-3.col-xs-3{style: "margin:0; padding: 0;"}
			%center
				= link_to "https://www.youtube.com/channel/UCjdMbEhSgKJp6_FZwtw0puQ" do
					%i.fa.fa-youtube-play#socials{style: "margin-right: 0;"}
	.col-md-4.col-sm-12.col-xs-12#direccion{style: "margin-top: -10px"}
		%p{style: "margin:0; padding:0; text-align: center;"} Punto Fijo - Edo. Falcón - Venezuela
		%p{style: "margin:0; padding:0; text-align: center;"} +58 269 416 82 99 / +58 414 683 87 98
		%p{style: "margin:0; padding:0; text-align: center;"} contacto@inneoproducciones.com
		%p{style: "margin:0; padding:0; text-align: center;"} ventas@inneoproducciones.com
.col-md-12.col-sm-12#footer
	%center
		Powered by 
		= image_tag("frontend/Logotipo footer.png")