- @attachments = Kaminari.paginate_array(@attachments).page(params[:page]).per(9)
%div.gallery
	#gallery{style: "padding-top: 20px; margin:0;"}
		- @attachments.each do |attachment|
			.hidden-sm.hidden-xs
				- if attachment.upload.to_i == 1
					= link_to "#modal-#{attachment.id}" , "data-toggle"=>"modal" do
						.col-lg-4.col-md-4.col-sm-6.img-gallery{style: "background-image: url(#{attachment.image}); background-size: cover;", id: attachment.id}
				- if attachment.upload.to_i == 2
					= link_to "#modal-#{attachment.id}" , "data-toggle"=>"modal" do
						.col-lg-4.col-md-4.col-sm-6.img-gallery{style: "background-image: url(#{attachment.url}); background-size: cover;", id: attachment.id}
				- if attachment.upload.to_i == 3
					.col-lg-4.col-md-4.col-sm-6.img-gallery{id: attachment.id}
						%iframe.img-video-md-lg{:allowfullscreen => "false", :frameborder => "0", :src => attachment.url, :width => "100%", :height => "400"}

				= render 'modal', attachment: attachment
			.hidden-lg.hidden-md
				- if attachment.upload.to_i == 1
					.col-lg-4.col-md-4.col-sm-6.img-gallery{style: "background-image: url(#{attachment.image}); background-size: cover;", id: attachment.id}
				- if attachment.upload.to_i == 2
					.col-lg-4.col-md-4.col-sm-6.img-gallery{style: "background-image: url(#{attachment.url}); background-size: cover;", id: attachment.id}
				- if attachment.upload.to_i == 3
					.col-lg-4.col-md-4.col-sm-6.img-gallery{style: "height: 300px !important; "}
						%iframe.img-video-sm-xs{:allowfullscreen => "false", :frameborder => "0", :src => attachment.url, :width => "100%", :height => "300"}


.row{style: "padding:0; margin:0;margin-bottom:-70px;"}
	%center
		= paginate @attachments, :params => { :anchor => 'gallery' }

