
.background-home.hidden-lg.hidden-md
.video.hidden-xs.hidden-sm
	= video_tag "video.mp4", autoplay: true, loop: true, muted: true
.responsive-container
	.img-container.hidden-lg.hidden-md
		= image_tag "frontend/Logo-vector-home.png", class: "logo-inneo"
	.titles.hidden-lg.hidden-md
		%ul.scrollable
			%li#text-1 DIVOZ
			%li#text-2
				PRODUCCIÓN
				%span.light-title DE EVENTOS
			%li#text-3
				MARKETING
				%span.light-title AUDIOVISUAL
			%li#text-4 BRANDING
	
	.buttons
		%center
			= link_to "/presupuestos" , class: "btn btn-presupuesto" , id: "presupuesto-home" do
				PRESUPUESTO ONLINE
				%i.fa.fa-chevron-right
			= link_to "#services", id: "arrow" do 
				= image_tag("frontend/flecha hacia abajo home.png", class: "scroll-down hidden-xs hidden-sm")
