#Modal
	%center
	.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1", id: "modal-#{attachment.id}"}
		.modal-dialog.modal-lg
			.modal-content
				.modal-header
					%button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
						%span{"aria-hidden" => "true"} &times;
					.clearfix
				.modal-body
					- if attachment.upload.to_i == 1
						= image_tag attachment.image
					- if attachment.upload.to_i == 2
						= image_tag attachment.url
					