%div{style: "text-align: left;"}
	BATERÍA 
	%br/
	CONGAS
	%br/ 
	TIMBAL 
	%br/
	PERCUSIÓN MENOR
	%br/ 
	BAJO
	%br/
	GUITARRA
	%br/
	PIANO
	%br/
	SAXO
	%br/
	TROMBÓN
	%br/
	TROMPETA
	%br/
	3 VOCALISTAS
%center{style: "padding-top: 10px;"}
	SHOWS BAILABLES Y HORA LOCA
	%br
	EN VIVO