%div{style: "text-align: left;"}
	BATERÍA 
	%br/
	CONGAS
	%br/
	BAJO
	%br/
	GUITARRA
	%br/
	PIANO
	%br/
	2 VOCALISTAS
%center{style: "padding-top: 10px;"}
	SHOWS BAILABLES CON 
	%br/
	PLAYBACKS Y HORA LOCA
	%br/
	EN VIVO