.titles-inneo
	NUESTROS SERVICIOS
.separador
	= image_tag("frontend/Separador secciones.png")
%center
	.textos
		Estamos comprometidos en ofrecer lo mejor para tu negocio, para tu evento y para ti, midiendo los resultados a través de la satisfacción reflejada por cada cliente.
.container
	.col-lg-4.col-md-6.col-xs-12{style: "padding: 0px;"}
		.container-services#produccion-eventos
			.mask-servicios1#mask1-production.hidden-sm.hidden-xs
				#texto-servicios
					PRODUCCIÓN DE EVENTOS
			= link_to service_path(category: "producción-de-eventos", permalink: @produccion.permalink) do
				.mask-servicios2#mask2-production
					#texto-servicios-mask2
						PRODUCCIÓN DE EVENTOS	
					#descripcion-servicios
						Promovemos la innovación contando con el mejor talento humano que convertirá tu evento en una experiencia inolvidable.
					#separador-servicios
						= image_tag("frontend/vector servicio.png")
	.col-lg-4.col-md-6.col-xs-12{style: "padding: 0px;"}
		.container-services#marketing
			.mask-servicios1#mask1-marketing.hidden-sm.hidden-xs
				#texto-servicios
					MARKETING AUDIOVISUAL
			= link_to service_path(category: "marketing-audiovisual" , permalink: @marketing.permalink) do
				.mask-servicios2#mask2-marketing
					#texto-servicios-mask2
						MARKETING AUDIOVISUAL
					#descripcion-servicios
						Nuestro talentoso equipo quiere dar a conocer tus ideas, aprovechándolas al máximo y creando campañas atractivas a través de contenidos originales.
					#separador-servicios
						= image_tag("frontend/vector servicio.png")
	.col-lg-4.col-md-6.col-xs-12{style: "padding: 0px;"}
		.container-services#branding
			.mask-servicios1#mask1-branding.hidden-sm.hidden-xs
				#texto-branding
					BRANDING
			= link_to service_path(category: "branding", permalink: @branding.permalink) do
				.mask-servicios2#mask2-branding
					#texto-servicios-mask2
						BRANDING
					#descripcion-servicios
						Resaltamos el poder de tu marca utilizando estrategias integrales que fortalecen tu imagen y te diferencian en el mercado.
					#separador-servicios
						= image_tag("frontend/vector servicio.png")
	.col-lg-12.col-md-6.col-xs-12{style: "padding: 0px;"}
		.container-services#divoz
			.mask-servicios1#mask1-divoz.hidden-sm.hidden-xs
				#titulo-divoz
					DIVOZ
				#texto-divoz
					TALENTO MUSICAL DE ETIQUETA	
			= link_to service_path(category: "divoz", permalink: "divoz") do
				.mask-servicios2#mask2-divoz
					#texto-servicios-mask2{style: "font-size: 87px;margin-bottom: -20px !important;"}
						DIVOZ	
					#texto-divoz
						TALENTO MUSICAL DE ETIQUETA	
					#descripcion-divoz
						%p
							Deja que la celebración se encienda y no pares de disfrutar 
							%br/
							con el mejor talento musical para tu evento.
					#separador-servicios
						= image_tag("frontend/vector servicio.png")

