#home
	= render 'home'
#services
	= render 'layouts/frontend/navigation'
	= render 'services'



#contact
	.titles-inneo
		PODEMOS HACER REALIDAD TUS IDEAS
	.separador
		= image_tag("frontend/Separador secciones.png")
	%center
		.textos
			Cada proyecto es único, cuéntanos los detalles.
	%center
		= link_to "/presupuestos" , class: "btn btn-presupuesto", id: "presupuesto-contacto" do
			PRESUPUESTO ONLINE
			%i.fa.fa-chevron-right
		
	= render 'contact'
