= content_for(:title, "Presupuesto Online")
= render 'layouts/frontend/navigation'
= render 'layouts/frontend/nav_presupuestos'

.container-form.visible#vacio
	%center
		SELECCIONE UN FORMULARIO DE LA BARRA SUPERIOR.
		%br
		%br
		- if flash
			- flash.each do |name, msg|
				.message
					= msg


= render 'frontend/contact'

