= content_for(:title, "Servicios | #{@catalogo.first.category.mb_chars.capitalize.to_s}")
= render 'layouts/frontend/navigation'
#services
	- if @catalogo.first.category ==  "PRODUCCIÓN DE EVENTOS"
		.banner#produccion-banner
	- elsif @catalogo.first.category ==  "BRANDING"
		.banner#branding-banner
	- elsif @catalogo.first.category ==  "MARKETING AUDIOVISUAL"
		.banner#marketing-banner
	- elsif @catalogo.first.category ==  "DIVOZ"
		.banner#divoz-banner

	.titles-inneo{style: "padding-top: 50px !important;"}
		= @catalogo.first.category
	.separador
		= image_tag("frontend/Separador secciones.png")
	%center
		.textos#body{style: "padding-bottom: 50px"}
			= @text

	- if @catalogo.first.category == "DIVOZ"
		= render 'gallery', attachment: @attachments
	- else
		%center
			.menu-catalogo
				%ul
					- @catalogo.each do |item|
						- if params[:permalink] == item.permalink
							%li.activo
								= link_to service_path(category: @catalogo.first.category.gsub(" ", "-").mb_chars.downcase.to_s, permalink: item.permalink, anchor: "body") do
									= item.name
						- else
							%li
								= link_to service_path(category: @catalogo.first.category.gsub(" ", "-").mb_chars.downcase.to_s, permalink: item.permalink, anchor: "body") do
									= item.name
		= render 'gallery', attachment: @attachments


#contact
	.titles-inneo
		PODEMOS HACER REALIDAD TUS IDEAS
	.separador
		= image_tag("frontend/Separador secciones.png")
	%center
		.textos
			Cada proyecto es único, cuéntanos los detalles.
	%center
		= link_to "/presupuestos" , class: "btn btn-presupuesto", id: "presupuesto-contacto" do
			PRESUPUESTO ONLINE
			%i.fa.fa-chevron-right
		
	= render 'contact'
