= content_for(:title, "Presupuesto Online | Páginas Web")
= render 'layouts/frontend/navigation'

= render 'layouts/frontend/nav_presupuestos'

.error-msg
	- if @web.errors.count > 0
		Disculpa, existen datos inválidos en la solicitud.
		%br/
		- @web.errors.each do |name, msg|
			.error
				- if (msg != "Formato inválido") and (msg != "No puede estar en blanco")
					= msg

= simple_form_for(@web) do |f|

	.titles-inneo{style: "padding-top: 50px !important;"}
		PRESUPUESTO ONLINE
		%br/
		PÁGINAS WEB
	.separador
		= image_tag("frontend/Separador secciones.png")
	.form.web
		.row
			.col-lg-6.col-md-6.col-sm-6
				= f.input :name, label: false, input_html: { class: 'form-control',placeholder: "NOMBRE Y APELLIDO O RAZÓN SOCIAL" }
				= f.input :email, label: false, input_html: { class: 'form-control',placeholder: "CORREO ELECTRÓNICO" }
			.col-lg-6.col-md-6.col-sm-6
				= f.input :telephone, label: false, input_html: { class: 'form-control', placeholder: "NÚMERO DE TELÉFONO" }
				= f.input :brand, label: false, input_html: { class: 'form-control',placeholder: "NOMBRE DE EMPRESA O MARCA" }

		.subTitles{style:"padding-top: 30px;"}
			INFORMACIÓN DE LA EMPRESA/MARCA
		.row{style: "margin-bottom: 30px;"}
			.col-lg-6.col-md-6.col-sm-6
				= f.input :brand_description, label: false, input_html: { class: 'form-control', placeholder: "¿A QUÉ SE DEDICA TU EMPRESA/MARCA?", style: "margin-top: 10px; height: 100px;"}
			.col-lg-6.col-md-6.col-sm-6
				= f.input :brand_target, label: false, input_html: { class: 'form-control', placeholder: "DESCRIBE BREVEMENTE A QUIÉN VA DIRIGIDO (TARGET) LOS PRODUCTOS O SERVICIOS DE TU EMPRESA/MARCA", style: "margin-top: 10px; height: 100px;"}

		
		= f.input :editable_logo, label: "POSEO EL LOGO DE MI MARCA O EMPRESA EN FORMATO EDITABLE",:wrapper => :inline_checkbox 
		= f.input :audio_video_hq, label: "POSEO CONTENIDO AUDIO/VISUAL DE ALTA CALIDAD",:wrapper => :inline_checkbox 
		
		.row{style: "margin-left: 25px;"}
			.col-lg-3.col-md-3.col-sm-6.col-xs-6
				= f.input :photo, label: "FOTOGRAFÍA",:wrapper => :inline_checkbox 
				= f.input :socials, label: "PIEZAS DE DISEÑO (REDES SOCIALES)",:wrapper => :inline_checkbox 
			.col-lg-3.col-md-3.col-sm-6.col-xs-6
				= f.input :audio, label: "AUDIO",:wrapper => :inline_checkbox 
				.hidden-xs#otro_grupo1
					= check_box_tag "web[other_content_check]"
					= label_tag 'OTRO', 'OTRO'
			.col-lg-3.col-md-3.col-sm-6.col-xs-6
				= f.input :video, label: "VIDEO",:wrapper => :inline_checkbox 
			.col-lg-3.col-md-3.col-sm-6.hidden-xs#otro_grupo1
				= f.input :animation, label: "ANIMACIONES 2D/3D",:wrapper => :inline_checkbox 
		.row{style: "margin-left: 25px;"}
			.col-xs-6#otro_grupo2
				= f.input :animation, label: "ANIMACIONES 2D/3D",:wrapper => :inline_checkbox
			.col-xs-6#otro_grupo2
				= check_box_tag "web[other_content_check]"
				= label_tag 'OTRO', 'OTRO'

		= f.input :other_content, as: :string, label: false, input_html: {class: 'form-control',placeholder: "OTRO", id: "other_content",style: "margin: 0; width: 96%; margin-left: 2%;"}
			
		.subTitles
			SELECCIONA LAS CARACTERÍSTICAS QUE DESEAS PARA TU WEB:
		.row
			.col-lg-4.col-md-4.col-sm-6.col-xs-6
				= f.input :blog, label: "MÓDULO DE BLOG (NOTICIAS)",:wrapper => :inline_checkbox 
				= f.input :catalog_portfolio, label: "MÓDULO DE CATÁLOGO (PORTAFOLIO)",:wrapper => :inline_checkbox 
				= f.input :online_classes, label: "MÓDULO DE AULA VIRTUAL (CURSOS EN LÍNEA)",:wrapper => :inline_checkbox 
				= f.input :polls, label: "MÓDULO DE ENCUESTAS",:wrapper => :inline_checkbox 
				= f.input :google_apps, label: "INTEGRACIÓN CON GOOGLE APPS",:wrapper => :inline_checkbox 
				= f.input :graphic_design, label: "DISEÑO GRÁFICO EN GENERAL",:wrapper => :inline_checkbox 
				= f.input :benchmarking, label: "BENCHMARKING",:wrapper => :inline_checkbox
				#otro_grupo2{style: "margin-top:  0px !important"}
					= f.input :catalog_gallery, label: "MÓDULO DE CATÁLOGO (GALERÍA DE FOTOS/VIDEOS)",:wrapper => :inline_checkbox 
					= f.input :payment, label: "PLATAFORMA DE PAGOS (MERCADOPAGO)",:wrapper => :inline_checkbox 
					= f.input :online_reservation, label: "MÓDULO DE RESERVACIONES EN LÍNEA",:wrapper => :inline_checkbox

			.col-lg-4.col-md-4.col-sm-6.col-xs-6
				= f.input :catalog_products, label: "MÓDULO DE CATÁLOGO (PRODUCTOS/SERVICIOS)",:wrapper => :inline_checkbox 
				= f.input :e_ccommerce, label: "MÓDULO E-CCOMMERCE",:wrapper => :inline_checkbox 
				= f.input :online_chat, label: "MÓDULO DE CHAT EN LÍNEA",:wrapper => :inline_checkbox 
				= f.input :streaming_audio, label: "MÓDULO STREAMING AUDIO (RADIO)",:wrapper => :inline_checkbox 
				= f.input :marketing_strategy, label: "MARKETING DIGITAL (ESTRATEGIA/PLAN DE MARKETING",:wrapper => :inline_checkbox 
				= f.input :tv_publicity, label: "PUBLICIDAD EN TV",:wrapper => :inline_checkbox 
				#otro_grupo2{style: "margin-top: 0px !important"}
					= f.input :corp_email, label: "CORREOS CORPORATIVOS",:wrapper => :inline_checkbox 
					= f.input :marketing_manager, label: "MARKETING DIGITAL (EJECUCIÓN/COMMUNITY MANAGER",:wrapper => :inline_checkbox 
					= f.input :marketing_email, label: "E-MAIL MARKETING",:wrapper => :inline_checkbox  

			.col-lg-4.col-md-4.col-sm-6.hidden-xs#otro_grupo1
				= f.input :catalog_gallery, label: "MÓDULO DE CATÁLOGO (GALERÍA DE FOTOS/VIDEOS)",:wrapper => :inline_checkbox 
				= f.input :payment, label: "PLATAFORMA DE PAGOS (MERCADOPAGO)",:wrapper => :inline_checkbox 
				= f.input :online_reservation, label: "MÓDULO DE RESERVACIONES EN LÍNEA",:wrapper => :inline_checkbox
				= f.input :corp_email, label: "CORREOS CORPORATIVOS",:wrapper => :inline_checkbox 
				= f.input :marketing_manager, label: "MARKETING DIGITAL (EJECUCIÓN/COMMUNITY MANAGER",:wrapper => :inline_checkbox 
				= f.input :marketing_email, label: "E-MAIL MARKETING",:wrapper => :inline_checkbox  



		.subTitles
			¿DESEAS USAR ALGUNA REFERENCIA PARA EL DISEÑO DE TU WEB?
		%label Coloca la(s) dirección(es) web de tu preferencia
		.col-lg-12
			= f.input :url1, label: false, input_html: { class: 'form-control',placeholder: "URL" }
			= f.input :url2, label: false, input_html: { class: 'form-control',placeholder: "URL" }
			= f.input :url3, label: false, input_html: { class: 'form-control',placeholder: "URL" }

		.row{style: "margin-top: 25px;"}
			.col-lg-12.col-md-12.col-12
				%center
					= f.input :observations, label: false,  input_html: { class: 'form-control',placeholder: "OBSERVACIONES", style: "margin-top: 50px; height: 100px;"}	

		.form-actions
			%center
				= button_tag type: 'submit', :data => { :confirm => '¿Está seguro de querer enviar esta solicitud?' }, class: "btn-presupuesto", style: "padding-bottom: 10px; padding-top: 10px; padding-left: 20px; padding-right: 20px; border-radius: 4px !important; margin-bottom: 50px; margin-top: 50px;" do 
					ENVIAR
					%i.fa.fa-chevron-right

= render 'frontend/contact'

:javascript

	$('input[name="web[photo]"]').prop('disabled', true);
	$('input[name="web[video]"]').prop('disabled', true);
	$('input[name="web[audio]"]').prop('disabled', true);
	$('input[name="web[animation]"]').prop('disabled', true);
	$('input[name="web[socials]"]').prop('disabled', true);
	$('input[name="web[other_content_check]"]').prop('disabled', true);
	$('#other_content').hide();

	$('input[name="web[audio_video_hq]"]').change(function() {
		if ($('input:checked[name="web[audio_video_hq]"]').is(':checked')){
			$('input[name="web[photo]"]').prop('disabled', false);
			$('input[name="web[video]"]').prop('disabled', false);
			$('input[name="web[audio]"]').prop('disabled', false);
			$('input[name="web[animation]"]').prop('disabled', false);
			$('input[name="web[socials]"]').prop('disabled', false);
			$('input[name="web[other_content_check]"]').prop('disabled', false);
		}else{
			$('input[name="web[photo]"]').prop('disabled', true);
			$('input[name="web[video]"]').prop('disabled', true);
			$('input[name="web[audio]"]').prop('disabled', true);
			$('input[name="web[animation]"]').prop('disabled', true);
			$('input[name="web[socials]"]').prop('disabled', true);
			$('input[name="web[other_content_check]"]').prop('disabled', true);
		}
	});
	$('input[name="web[other_content_check]"]').change(function() {
		var otro = $('input:checked[name="web[other_content_check]"]').is(':checked')
		$('#other_content').toggle(otro);
	});


