= content_for(:title, "Admin - Páginas Web | #{@web.name}")
- flash.each do |name, msg|
	- if msg.is_a?(String)
		%div.hidden-xs{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", id:"message_alerts"}
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
			= content_tag :div, msg, :id => "flash_#{name}"
%div
	.panel.panel-default{style:"margin-top:50px"}
		.panel-heading#heading-show{style:"padding-top:5px"}
			.actions
				.title.pull-left{ style: "margin-top:8px;" }
					%i.fa.fa-user
					Solicitud de Presupuesto - 
					= @web.id
				- if can? :destroy, User
					= link_to production_event_path(@web), title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar esta solicitud?' }, class: "btn btn-default btn-action pull-right" do
						%i.fa.fa-remove
				- if can? :edit, User
					= link_to  edit_production_event_path(@web), title: t('admin.actions.edit'), class: "btn btn-default btn-action pull-right", style: "margin-right:3px;" do
						%i.fa.fa-pencil		

		.panel-body#body-show
			%label= 'Nombre y Apellido o Razón Social: '
			= @web.name
			%br/
			%label= 'Email: '
			= @web.email
			%br/
			%label= 'Número de Teléfono: '
			= @web.telephone
			%br/
			%label= 'Nombre de la Marca/Empresa: '
			= @web.brand
			%br/
			%label= 'Descripción de la Marca/Empresa: '
			= @web.brand_description
			%br/
			%label= 'Target de la empresa: '
			= @web.brand_target
			%br/
			%label Logo editable
			= @web.editable_logo ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
			%br/
			%label ¿Posee contenido audio/visual de alta calidad?
			- if @web.audio_video_hq 
				%i.fa.fa-check-circle
				%br/
				%div{style: "margin-left: 20px;"}
					= @web.photo ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Fotografía
					%br/
					= @web.audio ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Audio
					%br/
					= @web.video ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Video
					%br/
					= @web.animation ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Animación 2D/3D
					%br/
					= @web.socials ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Piezas de Diseño (Redes sociales)
					%br/
					- if @web.other_content != ""
						%label Otro Contenido: 
						= @web.other_content
						%br/
			- else
				%i.fa.fa-close
				%br/
			
			%label Características para la Web
			%br
			%div{style: "margin-left: 20px;"}
				= @web.blog ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Módulo de Blog (Noticias)
				%br/
				= @web.catalog_products ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Módulo de Catálogo (Productos/servicios)
				%br/
				= @web.catalog_portfolio ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Módulo de Catálogo (Portafolio)
				%br/
				= @web.catalog_gallery ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Módulo de Catálogo (Galería de fotos/videos)
				%br/
				= @web.e_ccommerce ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Módulo e-ccommerce (Tienda Virtual)
				%br/
				= @web.payment ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Módulo de pagos (MercadoPago)
				%br/
				= @web.online_classes ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Módulo de Aula Virtual (Cursos en línea)
				%br/
				= @web.online_chat ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Módulo de chat en línea
				%br/
				= @web.online_reservation ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Módulo de reservaciones en línea
				%br/
				= @web.polls ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Módulo de encuestas
				%br/
				= @web.streaming_audio ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Módulo de Streaming Audio (radio)
				%br/
				= @web.corp_email ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Correos Corporativos
				%br/
				= @web.google_apps ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Integración con Google Apps
				%br/
				= @web.marketing_strategy ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Marketing Digital (Estrategia/Plan de Marketing)
				%br/
				= @web.marketing_manager ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Marketing Digital (Ejecución/Community Manager)
				%br/
				= @web.graphic_design ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Diseño gráfico en general
				%br/
				= @web.tv_publicity ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Publicidad en TV
				%br/
				= @web.marketing_email ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label E-mail Marketing
				%br/
				= @web.benchmarking ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Benchmarking
				%br/

			- if (@web.url1 != "" or @web.url2 != "" or @web.url3 != "") 
				%label Referencias Web:
				%div{style:"margin-left: 20px;"}
					- if @web.url1 != ""
						= @web.url1
						%br/
					- if @web.url2 != ""
						= @web.url2
						%br/
					- if @web.url3 != ""
						= @web.url3
						%br/

			- if @web.observations != ""
				%label Observaciones: 
				= @web.observations
				%br/

