= content_for(:title, "Presupuesto Online | Divoz/Producción de Eventos")
= render 'layouts/frontend/navigation'

= render 'layouts/frontend/nav_presupuestos'

.error-msg
	- if @production_event.errors.count > 0
		Disculpa, existen datos inválidos en la solicitud.
		%br/
		- @production_event.errors.each do |name, msg|
			.error
				- if (msg != "Formato inválido") and (msg != "No puede estar en blanco")
					= msg

= simple_form_for(@production_event) do |f|

	.titles-inneo{style: "padding-top: 50px !important;"}
		PRESUPUESTO ONLINE
		%br/
		DIVOZ/PRODUCCIÓN DE EVENTOS
	.separador
		= image_tag("frontend/Separador secciones.png")
	%center
		.textos{style: "padding-bottom: 50px;"}
			Promovemos la innovación contando con el mejor talento humano que convertirá tu evento en una experiencia inolvidable.
	.form.divoz
		.row
			.col-lg-6.col-md-6.col-sm-6
				= f.input :name, label: false, input_html: { class: 'form-control',placeholder: "NOMBRE Y APELLIDO O RAZÓN SOCIAL" }
				= f.input :email, label: false, input_html: { class: 'form-control',placeholder: "CORREO ELECTRÓNICO" }
			.col-lg-6.col-md-6.col-sm-6
				= f.input :telephone, label: false, input_html: { class: 'form-control',placeholder: "NÚMERO DE TELÉFONO" }
				
		.subTitles{style: "padding-top: 30px"}
			TIPO DE EVENTO
		.event_type
			= f.collection_radio_buttons :event_type, [["CORPORATIVO", "CORPORATIVO"], ["BODA","BODA"], ["15 AÑOS", "15 AÑOS"], ["EVENTO SOCIAL","EVENTO SOCIAL"], ["OTRO", "OTRO"]], :first, :last, { item_wrapper_tag: false }
		= text_field_tag "production_event[other_event_type]",nil, class: 'form-control',placeholder: "TIPO DE EVENTO", id: "evento", style: "margin-top: -5px;width: 96%; margin-left: 2%;"
		.row#lugar
			.col-lg-8.col-md-8.col-sm-8.col-xs-6
				= f.input :place, label: false, input_html: { class: 'form-control',placeholder: "LUGAR" }
			.col-lg-4.col-md-4.col-sm-4.col-xs-6
				.suggest
					= check_box_tag "production_event[suggest]"
					= label_tag 'SUGERIR', 'SUGERIR'
		.row
			.col-lg-3.col-md-3.col-sm-6.col-xs-12
				=f.input :date_event, as: :string, label: false, input_html: { "data-provide"=>'datepicker', class: 'form-control datepicker', placeholder: "Fecha de Evento", value: "#{localize(Date.today)}",  readonly: "readonly" }

			.col-lg-3.col-md-3.col-sm-6.col-xs-12
				= f.input :number_guests, label: false, as: :integer, input_html: { min: "1",class: 'form-control',placeholder: "CANTIDAD DE INVITADOS"}
			.col-lg-3.col-md-3.col-sm-6.col-xs-6{style: "padding-right: 2px;"}
				= f.input :hour_begin, as: :select,include_blank: false, collection: (1..2).collect{ |x| ["HORA DE INICIO", "HORA DE INICIO"] if x<2 }.compact | ((1..12).collect{ |x| ["#{x} pm", "#{x} pm"] }.reverse) | ((1..12).collect{ |i| ["#{i} am", "#{i} am"] }.reverse) , label: false, input_html: { class: 'form-control'}
			.col-lg-3.col-md-3.col-sm-6.col-xs-6{style: "padding-left: 0;"}
				= f.input :hour_end, as: :select,include_blank: false, collection: (1..2).collect{ |x| ["HORA DE CULMINACIÓN", "HORA DE CULMINACIÓN"] if x<2 }.compact | ((1..12).collect{ |x| ["#{x} pm", "#{x} pm"] }.reverse) | ((1..12).collect{ |i| ["#{i} am", "#{i} am"] }.reverse) , label: false, input_html: { class: 'form-control'}
			
		
		.row{style: "padding-top: 20px;"}
			.col-lg-3.col-md-3.col-sm-4.hidden-xs
				= image_tag "frontend/DIVOZ-compressor.png", style: "width: 100%; margin-top: 15px "
			.col-lg-9.col-md-9.col-sm-8.hidden-xs
				.subTitles{style: "padding-top: 10%; margin-left: 50px;"}
					ELIGE UNA DE NUESTRAS MODALIDADES
			.col-xs-12.hidden-lg.hidden-md.hidden-sm
				.subTitles
					ELIGE UNA DE NUESTRAS MODALIDADES
		.row{style: "margin-left: -30px !important;"}
			.mode{style: "margin-top: 10px;"}
				= f.collection_radio_buttons :mode, [["ORQUESTA", "ORQUESTA"], ["BANDA","BANDA"], ["GRUPO", "GRUPO"]], :first, :last, { item_wrapper_tag: false }
			.col-lg-12{style: "padding: 0; margin: 0;margin-top: -30px; margin-bottom:20px;"}
				.col-lg-4.col-md-4.col-sm-4.col-xs-4{style: "padding: 0; margin: 0;"}
					%button.btn.btn-default.details{"data-container" => "body", "data-html" => "true" ,"data-content" => "#{render template: 'frontend/_popover_orquesta'}", "data-placement" => "bottom", "data-toggle" => "popover", :type => "button", style: "margin-left: 30%;"}
						Ver detalles
				.col-lg-4.col-md-4.col-sm-4.col-xs-4{style: "padding: 0; margin: 0;"}
					%button.btn.btn-default.details{"data-container" => "body", "data-html" => "true" ,"data-content" => "#{render template: 'frontend/_popover_banda'}", "data-placement" => "bottom", "data-toggle" => "popover", :type => "button", style: "margin-left: 27%;"}
						Ver detalles
				.col-lg-4.col-md-4.col-sm-4.col-xs-4{style: "padding: 0; margin: 0;"}
					%button.btn.btn-default.details{"data-container" => "body", "data-html" => "true" ,"data-content" => "#{render template: 'frontend/_popover_grupo'}", "data-placement" => "bottom", "data-toggle" => "popover", :type => "button", style: "margin-left: 27%;"}
						Ver detalles
		.subTitles
			SERVICIOS
		.row
			.col-lg-3.col-md-3.col-sm-3.col-xs-6
				= f.input :sound, label: "SONIDO",:wrapper => :inline_checkbox
				= f.input :video, label: "VIDEO",:wrapper => :inline_checkbox
				= f.input :confetti, label: "CAÑÓN DE CONFETI",:wrapper => :inline_checkbox
				.hidden-xs#otro_grupo1{style: "margin-top: -10px"}
					= check_box_tag "production_event[other_service_check]"
					= label_tag 'OTRO', 'OTRO', style: "margin-bottom: 5px !important;"
			.col-lg-3.col-md-3.col-sm-3.col-xs-6
				= f.input :lights, label: "ILUMINACIÓN",:wrapper => :inline_checkbox
				= f.input :sparkles, label: "CHISPAS",:wrapper => :inline_checkbox
				= f.input :led_robot, label: "ROBOT LED",:wrapper => :inline_checkbox

			.col-lg-3.col-md-3.col-sm-3.col-xs-6#columnas-movil
				= f.input :led_screens, label: "PANTALLAS LED",:wrapper => :inline_checkbox
				= f.input :fireworks, label: "FUEGOS ARTIFICIALES",:wrapper => :inline_checkbox
				= f.input :strippers, label: "STRIPPERS",:wrapper => :inline_checkbox

			.col-lg-3.col-md-3.col-sm-3.col-xs-6#columnas-movil
				= f.input :photoshoot, label: "FOTOGRAFÍA",:wrapper => :inline_checkbox
				= f.input :garotas, label: "GAROTAS/GAROTOS",:wrapper => :inline_checkbox
				= f.input :stilts, label: "ZANQUEROS",:wrapper => :inline_checkbox
			.col-xs-12#otro_grupo2{style: ""}
				= check_box_tag "production_event[other_service_check]" 
				= label_tag 'OTRO', 'OTRO', style: "margin-bottom:-20px !important;"
			= f.input :other_service, label: false, input_html: { class: 'form-control',placeholder: "OTRO" , id: "other_service", style: "width: 96%; margin-left: 2%; margin-top: 30px;"}
		.subTitles{style: "padding-top: 20px"}
			AGRUPACIONES MUSICALES
		.row#groups
			.col-lg-3.col-md-3.col-sm-3.col-xs-6
				= f.input :strings, label: "CUARTETO DE CUERDAS",:wrapper => :inline_checkbox
				#otro_grupo1{style: "margin-top: -10px"}
					= check_box_tag "production_event[other_group_check]"
					= label_tag 'OTRO', 'OTRO', style: "margin-bottom: 5px !important;"
			.col-lg-3.col-md-3.col-sm-3.col-xs-6
				= f.input :drums, label: "TAMBOR",:wrapper => :inline_checkbox
			.col-lg-3.col-md-3.col-sm-3.col-xs-6
				= f.input :mariachi, label: "MARIACHI",:wrapper => :inline_checkbox
			.col-lg-3.col-md-3.col-sm-3.col-xs-6
				= f.input :vallenato, label: "VALLENATO",:wrapper => :inline_checkbox
			.col-xs-12#otro_grupo2{style: "margin-top: -10px"}
				= check_box_tag "production_event[other_group_check]"
				= label_tag 'OTRO', 'OTRO'
			= f.input :other_group, label: false, input_html: { class: 'form-control',placeholder: "OTRO" , id: "other_group", style: "width: 96%; margin-left: 2%; margin-top: 15px;"}
		.row{style: "margin-top: 25px;"}
			%center
				= f.input :comment, label: false,  input_html: { class: 'form-control',placeholder: "¿TIENES ALGO ESPECIAL EN MENTE? CUENTANOS UN POCO Y PERMÍTENOS AYUDARTE", style: "height: 100px;"}
		.subTitles{style: "text-align: center !important;margin-top: 30px; margin-bottom:30px;"}
			DISFRUTA SIN PREOCUPACIONES Y DEJA EN NUESTRAS MANOS EL ÉXITO DE TU EVENTO.
			%br/
			PAUTA UNA CITA CON NOSOTROS
		.form-actions
			%center
				= button_tag type: 'submit', :data => { :confirm => '¿Está seguro de querer enviar esta solicitud?' },class: "btn-presupuesto", style: "padding-bottom: 10px; padding-top: 10px; padding-left: 20px; padding-right: 20px; border-radius: 4px !important; margin-bottom: 50px;" do 
					ENVIAR
					%i.fa.fa-chevron-right

= render 'frontend/contact'

:javascript
	$(document).ready(function(){
		$('[data-toggle="popover"]').popover(); 
		
		$('.datepicker').datepicker({
			dayViewHeaderFormat: 'YYYY',
			format: 'dd-mm-yyyy',
			startDate: 'm',
			autoclose: 'true',
			todayBtn: 'linked',
			language: 'es'
		})
	});
	$(document).on('click', function (e) {
		$('[data-toggle="popover"]').each(function () {
				//the 'is' for buttons that trigger popups
				//the 'has' for icons within a button that triggers a popup
			if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
				$(this).popover('hide');
			}
		});
	});

	$('#evento').hide();
	$('#other_service').hide();
	$('#other_group').hide();
	$('input[name="production_event[place]"').prop('disabled', false);

	$('input[name="production_event[event_type]"]').change(function() {
		var otro = $('input:checked[name="production_event[event_type]"]').val() == "OTRO";
		$('#evento').toggle(otro);
	});
	$('input[name="production_event[other_service_check]"]').change(function() {
		var otro = $('input:checked[name="production_event[other_service_check]"]').is(':checked')
		$('#other_service').toggle(otro);
	});
	$('input[name="production_event[other_group_check]"]').change(function() {
		var otro = $('input:checked[name="production_event[other_group_check]"]').is(':checked')
		$('#other_group').toggle(otro);
	});
	$('input[name="production_event[suggest]"]').change(function() {
		if ($('input[name="production_event[suggest]"]').is(':checked') ){
			$('input[name="production_event[place]"').prop('disabled', true);
		}else{
			$('input[name="production_event[place]"').prop('disabled', false);
		}
	});
	
	$('input[name="production_event[mode]"]').change(function() {
		var cant = $('input[name="production_event[mode]"]:checked').length;
		if(cant >1){
			$('input[name="production_event[mode]"]:checked').prop('checked', false);
		}
	});
	$('input[name="production_event[event_type]"]').change(function() {
		var cant = $('input[name="production_event[event_type]"]:checked').length;
		if(cant >1){
			$('input[name="production_event[event_type]"]:checked').prop('checked', false);
		}
	});