= content_for(:title, "Admin - Producción de Eventos | #{@event.name}")
- flash.each do |name, msg|
	- if msg.is_a?(String)
		%div.hidden-xs{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", id:"message_alerts"}
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
			= content_tag :div, msg, :id => "flash_#{name}"
%div
	.panel.panel-default{style:"margin-top:50px"}
		.panel-heading#heading-show{style:"padding-top:5px"}
			.actions
				.title.pull-left{ style: "margin-top:8px;" }
					%i.fa.fa-user
					Solicitud de Presupuesto - 
					= @event.id
				- if can? :destroy, User
					= link_to production_event_path(@event), title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar este usuario?' }, class: "btn btn-default btn-action pull-right" do
						%i.fa.fa-remove
				- if can? :edit, User
					= link_to  edit_production_event_path(@event), title: t('admin.actions.edit'), class: "btn btn-default btn-action pull-right", style: "margin-right:3px;" do
						%i.fa.fa-pencil		

		.panel-body#body-show
			%label= 'Nombre y Apellido o Razón Social: '
			= @event.name
			%br/
			%label= 'Email: '
			= @event.email
			%br/
			%label= 'Número de Teléfono: '
			= @event.telephone
			%br/
			%label= 'Tipo de Evento: '
			= @event.event_type
			%br/
			%label= 'Lugar: '
			= @event.place
			%br/
			%label= 'Cantidad de Invitados: '
			= @event.number_guests
			%br/
			%label= 'Fecha del Evento: '
			= @event.date_event
			%br/
			%label= 'Horas del evento: '
			De 
			= @event.hour_begin
			a
			= @event.hour_end
			%br/
			%label= 'Tipo de Evento: '
			= @event.event_type
			%br/
			%label= 'Modalidad: '
			= @event.mode
			%br/
			%label Servicios Solicitados
			%br/
			%div{style: "margin-left: 20px;"}
				= @event.sound ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Sonido
				%br/
				= @event.lights ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Iluminación
				%br/
				= @event.led_screens ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Pantallas LED
				%br/
				= @event.photoshoot ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Fotografía
				%br/
				= @event.video ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Video
				%br/
				= @event.sparkles ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Chispas
				%br/
				= @event.fireworks ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Fuegos artificiales
				%br/
				= @event.garotas ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Garotas/Garotos
				%br/
				= @event.confetti ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Cañón de Confeti
				%br/
				= @event.led_robot ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Robot LED
				%br/
				= @event.strippers ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Strippers
				%br/
				= @event.stilts ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Zanqueros
				%br/
				- if @event.other_service != ""
					%label Otro Servicio: 
					= @event.other_service
					%br/

			%label Agrupaciones Musicales
			%br
			%div{style: "margin-left: 20px;"}
				= @event.strings ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Cuarteto de Cuerdas
				%br/
				= @event.drums ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Tambor
				%br/
				= @event.mariachi ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Mariachi
				%br/
				= @event.vallenato ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
				%label Vallenato
				%br/
				- if @event.other_group != ""
					%label Otro grupo: 
					= @event.other_group
					%br/
			- if @event.comment != ""
				%label Comentario: 
				= @event.comment
				%br/

