%li{ class: "#{'active' if params[:controller] == 'admin'}" }
  = link_to main_app.admin_index_path do
    %i.fa.fa-desktop
    Dashboard
= render "layouts/admin/links_engines"
%li.dropdown#dropdown
  = link_to "#collapse-menu", { "data-toggle" => "collapse" } do
    %i.fa.fa-file-text
    Presupuestos
    %i.drop.fa.pull-right.fa-angle-left
:javascript
  $( document ).ready(function() {
    $("#collapse-menu").on('hide.bs.collapse', function () {
      $("#dropdown .drop").removeClass('fa-angle-down')
      $("#dropdown .drop").addClass('fa-angle-left')
      $("#dropdown a").blur()
    })

    $("#collapse-menu").on('show.bs.collapse', function () {
      $("#dropdown .drop").removeClass('fa-angle-left')
      $("#dropdown .drop").addClass('fa-angle-down')
      $("#dropdown a").blur()
    })
  });    
.collapse#collapse-menu
  %ul.sub-modules
    %li{ class: "#{'active' if params[:controller] == 'production_events'}" }
      = link_to "/admin/production_events" do
        Producción de Eventos/Divoz
    %li{ class: "#{'active' if params[:controller] == 'brands'}" }
      = link_to "/admin/brands" do
        Branding
    %li{ class: "#{'active' if params[:controller] == 'audiovisuals'}" }
      = link_to "/admin/audiovisuals" do
        Marketing Audiovisual
    %li{ class: "#{'active' if params[:controller] == 'web'}" }
      = link_to "/admin/webs" do
        Páginas web



- if can? :index, User
  %li{ class: "#{'active' if params[:controller] == 'users'}" }
    = link_to main_app.users_path do
      %i.fa.fa-user
      = t('user.model')

%li.visible-xs
  = link_to main_app.root_path do
    = "<i class='fa fa-reply'></i> #{t("navbar-admin.website")}".html_safe