= content_for(:title, "Presupuesto Online | Marketing Audiovisual")
= render 'layouts/frontend/navigation'
= render 'layouts/frontend/nav_presupuestos'

.error-msg
	- if @audiovisual.errors.count > 0
		Disculpa, existen datos inválidos en la solicitud.
		%br/
		- @audiovisual.errors.each do |name, msg|
			.error
				- if (msg != "Formato inválido") and (msg != "No puede estar en blanco")
					= msg

= simple_form_for(@audiovisual) do |f|

	.titles-inneo{style: "padding-top: 50px !important;"}
		PRESUPUESTO ONLINE
		%br/
		MARKETING AUDIOVISUAL
	.separador
		= image_tag("frontend/Separador secciones.png")
	%center
		.textos{style: "padding-bottom: 50px;"}
			Nuestro talentoso equipo quiere dar a conocer tus ideas, aprovechándolas al máximo y creando campañas atractivas a través de contenidos originales.
	.form.audiovisual 
		.row{style: "margin-bottom: 40px;"}
			.col-lg-6.col-md-6-col-sm-6
				= f.input :name, label: false, input_html: { class: 'form-control',placeholder: "NOMBRE Y APELLIDO O RAZÓN SOCIAL"}
				= f.input :email, label: false, input_html: { class: 'form-control',placeholder: "CORREO ELECTRÓNICO" }
			.col-lg-6.col-md-6-col-sm-6
				= f.input :telephone, label: false, input_html: { class: 'form-control',placeholder: "NÚMERO DE TELÉFONO" }
				= f.input :brand, label: false, input_html: { class: 'form-control',placeholder: "NOMBRE DE LA MARCA O EMPRESA" }
			
		= f.input :editable_logo, label: "POSEO EL LOGO DE MI MARCA O EMPRESA EN FORMATO EDITABLE",:wrapper => :inline_checkbox 
		= f.input :audio_video_hq, label: "POSEO CONTENIDO AUDIO/VISUAL DE ALTA CALIDAD",:wrapper => :inline_checkbox 

		.subTitles
			FOTOGRAFÍA
		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-6
				= f.input :photomontage, label: "FOTOMONTAJE",:wrapper => :inline_checkbox 
				= f.input :photoshoot_private, label: "DÍA DE SESIÓN FOTOGRÁFICA NO PÚBLICA",:wrapper => :inline_checkbox 
				= f.input :photo_edit_public, label: "EDICIÓN FOTOGRÁFICA PUBLICITARIA",:wrapper => :inline_checkbox
				= f.input :photo_edit_private, label: "EDICIÓN FOTOGRÁFICA PERSONAL",:wrapper => :inline_checkbox
				= f.input :digital_makeover, label: "RETOQUE DIGITAL FOTOGRÁFICO",:wrapper => :inline_checkbox
				= f.input :photobook, label: "PHOTOBOOK",:wrapper => :inline_checkbox
			.col-lg-6.col-md-6.col-sm-6.col-xs-6
				= f.input :wedding, label: "BODA",:wrapper => :inline_checkbox
				= f.input :corp_event, label: "EVENTO CORPORATIVO",:wrapper => :inline_checkbox
				= f.input :fifteen, label: "15 AÑOS",:wrapper => :inline_checkbox
				= f.input :birthday, label: "CUMPLEAÑOS",:wrapper => :inline_checkbox

				= check_box_tag "audiovisual[photo_print_check]"
				= label_tag "IMPRESIÓN DE FOTOS 8X10", "IMPRESIÓN DE FOTOS 8X10"
				= f.input :photo_print, label: false,as: :integer,  input_html: { min: "1", class: 'form-control', id: "photo_print"}
				= check_box_tag "audiovisual[other_photo_check]"
				= label_tag "OTRO", "OTRO"
			= f.input :other_photo, label: false, input_html: { class: 'form-control',placeholder: "OTRO" , id: "other_photo", style: "width: 96%; margin-left: 2%;margin-bottom: 20px;"}

		.subTitles
			VIDEO

		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-6
				= check_box_tag "audiovisual[shortfilm_check]"
				= label_tag "SHORTFILM", "SHORTFILM"
				= time_field_tag "audiovisual[shortfilm]","", class: 'form-control', id: "shortfilm", step: "1", format: "mm:ss 24h", min: "00:00:00", max: "00:59:00"
				%br
				= check_box_tag "audiovisual[tv_spot_check]"
				= label_tag "SPOT TV", "SPOT TV"
				= time_field_tag "audiovisual[tv_spot]","", class: 'form-control', id: "tv_spot", step: "1", value:"00:00:00", min: "00:00:00", max: "00:59:00"
				%br
				= check_box_tag "audiovisual[web_spot_check]"
				= label_tag "SPOT WEB", "SPOT WEB"
				= time_field_tag "audiovisual[web_spot]","", class: 'form-control', id: "web_spot", step: "1", value:"00:00:00", min: "00:00:00", max: "00:59:00"
				%br
				= check_box_tag "audiovisual[video_report_check]"
				= label_tag "VIDEO REPORTAJE", "VIDEO REPORTAJE"
				= time_field_tag "audiovisual[video_report]","", class: 'form-control', id: "video_report", step: "1", value:"00:00:00", min: "00:00:00", max: "00:59:00"
				%br
				= check_box_tag "audiovisual[videoclip_check]"
				= label_tag "VIDEOCLIP", "VIDEOCLIP"
				= time_field_tag "audiovisual[videoclip]","", class: 'form-control', id: "videoclip", step: "1", value:"00:00:00", min: "00:00:00", max: "00:59:00"
				%br
				= check_box_tag "audiovisual[video_bio_check]"
				= label_tag "VIDEO BIOGRAFÍA", "VIDEO BIOGRAFÍA"
				= time_field_tag "audiovisual[video_bio]","", class: 'form-control', id: "video_bio", step: "1", value:"00:00:00", min: "00:00:00", max: "00:59:00"
				%br
				= check_box_tag "audiovisual[other_video_check]"
				= label_tag "OTRO", "OTRO"

			.col-lg-6.col-md-6.col-sm-6.col-xs-6
				= check_box_tag "audiovisual[loop_screens_check]"
				= label_tag "LOOP SCREENS", "LOOP SCREENS"
				= time_field_tag "audiovisual[loop_screens]","", class: 'form-control', id: "loop_screens", step: "1", value:"00:00:00", min: "00:00:00", max: "00:59:00"
				%br
				= check_box_tag "audiovisual[wedding_video_check]"
				= label_tag "BODA", "BODA"
				= time_field_tag "audiovisual[wedding_video]","", class: 'form-control', id: "wedding_video", step: "1", value:"00:00:00", min: "00:00:00", max: "00:59:00"
				%br
				= check_box_tag "audiovisual[fifteen_video_check]"
				= label_tag "15 AÑOS", "15 AÑOS"
				= time_field_tag "audiovisual[fifteen_video]","", class: 'form-control', id: "fifteen_video", step: "1", value:"00:00:00", min: "00:00:00", max: "00:59:00"
				%br
				= check_box_tag "audiovisual[corp_event_check]"
				= label_tag "EVENTO CORPORATIVO", "EVENTO CORPORATIVO"
				= time_field_tag "audiovisual[corp_event]","", class: 'form-control', id: "corp_event", step: "1", value:"00:00:00", min: "00:00:00", max: "00:59:00"
				%br
				= check_box_tag "audiovisual[documentary_check]"
				= label_tag "DOCUMENTAL", "DOCUMENTAL"
				= time_field_tag "audiovisual[documentary]","", class: 'form-control', id: "documentary", step: "1", value:"00:00:00", min: "00:00:00", max: "00:59:00"
				%br
				= check_box_tag "audiovisual[promo_check]"
				= label_tag "PROMOCIONAL PUBLICITARIO", "PROMOCIONAL PUBLICITARIO"
				= time_field_tag "audiovisual[promo]","", class: 'form-control', id: "promo", step: "1", value:"00:00:00", min: "00:00:00", max: "00:59:00"
				%br

		
		= f.input :other_video, label: false, input_html: { class: 'form-control',placeholder: "OTRO" , id: "other_video", style: "width: 96%; margin-left: 2%;margin-bottom: 20px;margin-top: 0px;"}

		.subTitles
			MOTION GRAPHICS (ANIMACIONES)
		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-6
				= check_box_tag "audiovisual[animation_2d_check]"
				= label_tag "ANIMACIÓN 2D", "ANIMACIÓN 2D"
				= time_field_tag "audiovisual[animation_2d]","", class: 'form-control', id: "animation_2d", step: "1", value:"00:00:00", min: "00:00:00", max: "00:59:00"
				%br
				= check_box_tag "audiovisual[animation_3d_check]"
				= label_tag "ANIMACIÓN 3D", "ANIMACIÓN 3D"
				= time_field_tag "audiovisual[animation_3d]","", class: 'form-control', id: "animation_3d", step: "1", value:"00:00:00", min: "00:00:00", max: "00:59:00"

				= f.input :arquitecture, label: "ARQUITECTURA 3D",:wrapper => :inline_checkbox
				= f.input :interior_design, label: "DISEÑO DE INTERIORES",:wrapper => :inline_checkbox
				= f.input :tour_3d, label: "TOUR 3D",:wrapper => :inline_checkbox
			.col-lg-6.col-md-6.col-sm-6.col-xs-6
				= f.input :logo_3d, label: "LOGO 3D",:wrapper => :inline_checkbox
				= f.input :promo_animation, label: "PROMOCIONAL PUBLICITARIO",:wrapper => :inline_checkbox
				= f.input :loop_screens_animation, label: "LOOP PARA PANTALLA",:wrapper => :inline_checkbox
				= f.input :web_banner, label: "BANNER WEB",:wrapper => :inline_checkbox

				= check_box_tag "audiovisual[other_animation_check]"
				= label_tag "OTRO", "OTRO"
			= f.input :other_animation, label: false, input_html: { class: 'form-control',placeholder: "OTRO" , id: "other_animation", style: "width: 96%; margin-left: 2%;margin-bottom: 20px;"}

		.subTitles
			MARKETING
		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-6
				= f.input :visual_concept, label: "CONCEPTO VISUAL",:wrapper => :inline_checkbox
				= f.input :marketing_strategy, label: "ESTRATEGIA DE MARKETING",:wrapper => :inline_checkbox
				= f.input :community_manager, label: "COMMUNITY MANAGER",:wrapper => :inline_checkbox
				= f.input :campaing, label: "CREACIÓN DE CAMPAÑA PUBLICITARIA",:wrapper => :inline_checkbox
				= f.input :street_marketing, label: "STREET MARKETING",:wrapper => :inline_checkbox
			.col-lg-6.col-md-6.col-sm-6.col-xs-6
				= f.input :ambient_marketing, label: "AMBIENT MARKETING",:wrapper => :inline_checkbox
				= f.input :brand_test, label: "TEST DE MARCA",:wrapper => :inline_checkbox
				= f.input :focus_group, label: "PRUEBA FOCUS GROUP",:wrapper => :inline_checkbox
				= f.input :strategy_media, label: "ESTRATEGIA DE MEDIOS",:wrapper => :inline_checkbox

				= check_box_tag "audiovisual[other_marketing_check]"
				= label_tag "OTRO", "OTRO"
			= f.input :other_marketing, label: false, input_html: { class: 'form-control',placeholder: "OTRO" , id: "other_marketing", style: "width: 96%; margin-left: 2%;margin-bottom: 20px;"}

		.subTitles
			OTROS
		.row
			.col-lg-6.col-md-6.col-sm-6.col-xs-6
				= f.input :story_board, label: "STORY BOARD (POR PLANO)",:wrapper => :inline_checkbox
				= f.input :tv_script, label: "GUIÓN DE COMERCIAL DE TV",:wrapper => :inline_checkbox
				= f.input :video_production, label: "PRODUCCIÓN DE VIDEO",:wrapper => :inline_checkbox
				= f.input :direction, label: "DIRECCIÓN EN PREPRODUCCIÓN, PRODUCCIÓN Y EDICIÓN",:wrapper => :inline_checkbox
				= f.input :brand_slogan, label: "SLOGAN PARA EMPRESA",:wrapper => :inline_checkbox
				= f.input :product_slogan, label: "SLOGAN PARA PRODUCTO",:wrapper => :inline_checkbox
			.col-lg-6.col-md-6.col-sm-6.col-xs-6
				= f.input :visual_identity, label: "IDENTIDAD VISUAL PARA EVENTO",:wrapper => :inline_checkbox

				= check_box_tag "audiovisual[radio_jingle_check]"
				= label_tag "JINGLE RADIAL (CUÑA)", "JINGLE RADIAL (CUÑA)"
				= time_field_tag "audiovisual[radio_jingle]","", class: 'form-control', id: "radio_jingle"
				
				= f.input :jingle_lyrics, label: "LETRA PARA JINGLE",:wrapper => :inline_checkbox
				= f.input :mention_text, label: "TEXTO PARA MENCIONES",:wrapper => :inline_checkbox
				= f.input :supervision, label: "DIRECCIÓN Y SUPERVISIÓN DE CUÑA",:wrapper => :inline_checkbox

				= check_box_tag "audiovisual[other_other_check]"
				= label_tag "OTRO", "OTRO"
			= f.input :other_other, label: false, input_html: { class: 'form-control',placeholder: "OTRO" , id: "other_other", style: "width: 96%; margin-left: 2%;margin-bottom: 20px;"}

		.subTitles
		%center			
			= f.input :project, label: false, input_html: { class: 'form-control', placeholder: "¿TIENES ALGÚN PROYECTO ESPECIAL? CUÉNTANOS UN POCO SOBRE EL Y PERMÍTENOS AYUDARTE", style: "height: 100px; margin-bottom: 30px;"}
		%center
			= f.input :observations, label: false, input_html: { class: 'form-control',placeholder: "OBSERVACIONES", style: "margin-bottom:50px;height: 100px;"}

		.form-actions
			%center
				= button_tag type: 'submit', :data => { :confirm => '¿Está seguro de querer enviar esta solicitud?' }, class: "btn-presupuesto", style: "padding-bottom: 10px; padding-top: 10px; padding-left: 20px; padding-right: 20px; border-radius: 4px !important; margin-bottom: 50px;" do 
					ENVIAR
					%i.fa.fa-chevron-right

= render 'frontend/contact'

:javascript
	var unselected = jQuery.makeArray($('input[type="checkbox"]:not(:checked)').not('.boolean'))
	unselected.forEach(function(item) {
		var name = $(item).attr("name").replace("_check]","").replace("audiovisual[","#")
		$(name).hide();
	})
		
	$('input[type="checkbox"]').change(function() {
		var selected = jQuery.makeArray($('input:checked[type="checkbox"]').not('.boolean'))
		selected.forEach(function(item) {
			var name = $(item).attr("name").replace("_check]","").replace("audiovisual[","#")
			$(name).show();
		})
		var unselected = jQuery.makeArray($('input[type="checkbox"]:not(:checked)').not('.boolean'))
		unselected.forEach(function(item) {
			var name = $(item).attr("name").replace("_check]","").replace("audiovisual[","#")
			$(name).hide();
		})
	});
