= content_for(:title, "Admin - Marketing Audiovisual | #{@audiovisual.name}")
- flash.each do |name, msg|
	- if msg.is_a?(String)
		%div.hidden-xs{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", id:"message_alerts"}
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
			= content_tag :div, msg, :id => "flash_#{name}"
%div
	.panel.panel-default{style:"margin-top:50px"}
		.panel-heading#heading-show{style:"padding-top:5px"}
			.actions
				.title.pull-left{ style: "margin-top:8px;" }
					%i.fa.fa-user
					Solicitud de Presupuesto - 
					= @audiovisual.id
				- if can? :destroy, User
					= link_to audiovisual_path(@audiovisual), title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar esta solicitud?' }, class: "btn btn-default btn-action pull-right" do
						%i.fa.fa-remove
				- if can? :edit, User
					= link_to  edit_audiovisual_path(@audiovisual), title: t('admin.actions.edit'), class: "btn btn-default btn-action pull-right", style: "margin-right:3px;" do
						%i.fa.fa-pencil		

		.panel-body#body-show
			%label NOMBRE Y APELLIDO O RAZON SOCIAL:
			= @audiovisual.name
			%br/
			%label EMAIL
			= @audiovisual.email
			%br/
			%label NUMERO DE TELEFONO:
			= @audiovisual.telephone
			%br/
			%label NOMBRE DE LA MARCA/EMPRESA: 
			= @audiovisual.brand
			%br/
			%label POSEE LOGO EDITABLE
			= @audiovisual.editable_logo ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
			%br/
			%label ¿POSEE CONTENIDO AUDIO/VISUAL DE ALTA CALIDAD?
			= @audiovisual.audio_video_hq ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
			%br/
			.col-lg-6.col-md-6.col-sm-6.col-xs-6{style: "margin-bottom: 20px;"}
				%label FOTOGRAFIA
				%br/
				%div{style: "margin-left: 20px;"}
					= @audiovisual.photomontage ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label FOTOMONTAJE
					%br/
					= @audiovisual.photoshoot_private ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label DIA DE SESION FOTOGRAFICA NO PUBLICA
					%br/
					= @audiovisual.photo_edit_public ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label EDICION FOTOGRAFICA PUBLICITARIA
					%br/
					= @audiovisual.photo_edit_private ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label EDICION FOTOGRAFICA PERSONAL
					%br/
					= @audiovisual.digital_makeover ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label RETOQUE DIGITAL FOTOGRAFICO
					%br/
					= @audiovisual.photobook ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label FOTOBOOK
					%br/
					= @audiovisual.wedding ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label BODA
					%br/
					= @audiovisual.corp_event ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label EVENTO CORPORATIVO
					%br/
					= @audiovisual.fifteen ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label 15 AÑOS
					%br/
					= @audiovisual.birthday ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label CUMPLEAÑOS
					%br/
					= @audiovisual.photo_print ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label IMPRESION DE FOTOS 8X10

					%br/
					- unless @audiovisual.other_photo.nil?
						%label OTRO: 
						= @audiovisual.other_photo
						%br/
			.col-lg-6.col-md-6.col-sm-6.col-xs-6{style: "margin-bottom: 20px;"}
				%label VIDEO
				%br/
				%div{style: "margin-left: 20px;"}
					= @audiovisual.shortfilm ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label SHORTFILM
					= @audiovisual.shortfilm
					%br/
					= @audiovisual.tv_spot ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label SPOT TV
					= @audiovisual.tv_spot
					%br/
					= @audiovisual.web_spot ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label SPOT WEB
					= @audiovisual.web_spot
					%br/
					= @audiovisual.video_report ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label VIDEO REPORTAJE
					= @audiovisual.video_report
					%br/
					= @audiovisual.videoclip ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label VIDEOCLIP
					= @audiovisual.videoclip
					%br/
					= @audiovisual.video_bio ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label VIDEO BIOGRAFIA
					= @audiovisual.video_bio
					%br/
					= @audiovisual.loop_screens ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label LOOP PANTALLAS
					= @audiovisual.loop_screens
					%br/
					= @audiovisual.wedding_video ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label BODA
					= @audiovisual.wedding_video
					%br/
					= @audiovisual.fifteen_video ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label 15 AÑOS
					= @audiovisual.fifteen_video
					%br/
					= @audiovisual.corp_event_video ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label EVENTO CORPORATIVO
					= @audiovisual.corp_event_video
					%br/
					= @audiovisual.documentary ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label DOCUMENTAL
					= @audiovisual.documentary
					%br/
					= @audiovisual.promo ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label PROMOCIONAL PUBLICITARIO
					= @audiovisual.promo
					%br/
					- unless @audiovisual.other_video.nil?
						%label OTRO: 
						= @audiovisual.other_video
						%br/
			.col-lg-6.col-md-6.col-sm-6.col-xs-6{style: "margin-bottom: 20px;"}
				%label MOTION GRAPHICS (ANIMACIONES)
				%br/
				%div{style: "margin-left: 20px;"}
					= @audiovisual.animation_2d ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label ANIMACION 2D
					= @audiovisual.animation_2d
					%br/
					= @audiovisual.animation_3d ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label ANIMACION 3D
					= @audiovisual.animation_3d
					%br/
					= @audiovisual.arquitecture ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label ARQUITECTURA 3D
					%br/
					= @audiovisual.interior_design ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label DISEÑO DE INTERIORES
					%br/
					= @audiovisual.tour_3d ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label TOUR 3D
					%br/
					= @audiovisual.logo_3d ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label LOGO 3D
					%br/
					= @audiovisual.promo_animation ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label PROMOCIONAL PUBLICITARIO
					%br/
					= @audiovisual.loop_screens_animation ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label LOOP PARA PANTALLA
					%br/
					= @audiovisual.web_banner ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label BANNER WEB
					%br/
					- unless @audiovisual.other_animation.nil?
						%label OTRO: 
						= @audiovisual.other_animation
						%br/
			.col-lg-6.col-md-6.col-sm-6.col-xs-6{style: "margin-bottom: 20px;"}
				%label MARKETING
				%br/
				%div{style: "margin-left: 20px;"}
					= @audiovisual.visual_concept ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label CONCEPTO VISUAL
					%br/
					= @audiovisual.marketing_strategy ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label ESTRATEGIA DE MARKETING
					%br/
					= @audiovisual.community_manager ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label COMMUNITY MANAGER
					%br/
					= @audiovisual.campaing ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label CREACION DE CAMPAÑA PUBLICITARIA
					%br/
					= @audiovisual.street_marketing ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label STREET MARKETING
					%br/
					= @audiovisual.ambient_marketing ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label AMBIENT MARKETING
					%br/
					= @audiovisual.brand_test ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label TEST DE MARCA
					%br/
					= @audiovisual.focus_group ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label PRUEBA FOCUS GROUP
					%br/
					= @audiovisual.strategy_media ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label ESTRATEGIA DE MEDIOS
					%br/
					- unless @audiovisual.other_marketing.nil?
						%label OTRO: 
						= @audiovisual.other_marketing
						%br/
			.col-lg-6.col-md-6.col-sm-6.col-xs-6{style: "margin-bottom: 20px;"}
				%label OTRO
				%br/
				%div{style: "margin-left: 20px;"}
					= @audiovisual.story_board ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label STORY BOARD (POR PLANO)
					%br/
					= @audiovisual.tv_script ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label GUION DE COMERCIAL DE TV
					%br/
					= @audiovisual.video_production ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label PRODUCCION DE VIDEO
					%br/
					= @audiovisual.direction ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label DIRECCION EN PREPRODUCCION, PRODUCCION Y EDICION
					%br/
					= @audiovisual.brand_slogan ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label SLOGAN PARA EMPRESA
					%br/
					= @audiovisual.product_slogan ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label SLOGAN PARA PRODUCTO
					%br/
					= @audiovisual.visual_identity ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label IDENTIDAD VISUAL PARA EVENTO
					%br/
					= @audiovisual.jingle_lyrics ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label LETRA PARA JINGLE
					%br/
					= @audiovisual.mention_text ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label TEXTO PARA MENCIONES
					%br/
					= @audiovisual.supervision ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label DIRECCION Y SUPERVISION DE CUÑA
					%br/
					= @audiovisual.radio_jingle ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label JINGLE RADIAL (CUÑA)
					= @audiovisual.radio_jingle
					%br/
					- unless @audiovisual.other_other.nil?
						%label OTRO: 
						= @audiovisual.other_other 
						%br/
			- if @audiovisual.project != ""
				%label PROYECTOS: 
				= @audiovisual.project
				%br/
			- if @audiovisual.observations != ""
				%label OBSERVACIONES: 
				= @audiovisual.observations
				%br/


