body, html {
	height: 100%;
}

body#admin {
	font-family: 'Roboto', sans-serif;
	background: white;

	.alert {
		margin-bottom: 0px;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 14px;
		font-weight: bold;
		margin-top: 15px;

		.close {
		  font-size: 16px;
		}
	}

	.avatar {
		border-radius:50%;
		margin: 0px;
		margin-top: 30px;
	}
	
	.perfil {		
		padding-left: 20px;
		margin-top: 0px;
		height: 120px;
		padding-top: 1px;
		margin-bottom: 10px;
		z-index: 1;		
		.name-avatar{
			position: relative;
			top:-60px;
			left: 70px;
			margin-bottom: 10px;
			width: 180px;

			p {
				font-size: 20px;
				font-weight: bold;
				color: #444444;
				margin-bottom: 0px;
			}
		
			.btn {
				border: 1px solid rgba(128, 139, 156, 0.22);
				color: rgba(128, 139, 156, 1);
			}

			a:hover {
				background: #FFBA3D;
				color: white;
				transition: all 0.5s ease-in-out;
			}

			a.danger:hover {
				background: #d9534f;
				color: white;
				transition: all 0.5s ease-in-out;
			}


		}
	}

	.sidebar {
		background: #ffffff;
		height: 100%;
		z-index: 10000;
		min-width:280px;
		position: fixed;
		box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.17);
		.nav-sidebar {
			margin-top: 5px;

			a {
				color: #444444;
				font-size: 16px;
			}
		}

		.brand{
			background-color: #FFC107;
			height: 50px;
			width: 100%;
			padding-top: 8px;
			box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
		}

		.nav-sidebar > .active{
			background: #e7e7e7;
			color: #EEB500;
			margin-bottom: 0px;
		}

		.nav-sidebar > .active > a:hover{
			background: #e7e7e7;
			i{
				color: #EEB500;
			}
		}

		.nav-sidebar > li > a:hover {			
			-webkit-transition:0.5s;
			transition:0.5s;
			background: #e7e7e7;
			i{
				color: #FFBA3D;
			}
		}
		.nav-sidebar > li > a > i {
			margin-right: 15px;
			font-size: 20px;
		}

		.nav-sidebar > li > a {
			font-size: 15px;
			color: #444444;
			position: relative;
			padding: 6px 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			display: inline-block;
			width: 100%;
			text-decoration: none;
			-webkit-transition: background;
			transition: background;
			-webkit-transition-duration: 0.4s;
			transition-duration: 0.4s;
		}

		.nav-sidebar > li {
			margin-bottom: 3px;
			margin-bottom: 0px;

		}

		.sub-modules {
			list-style: none;

			li {
				margin-top: 10px;
				margin-bottom: 5px;
			}

			li > a {
				text-decoration: none;
			}

			li > a:hover {
				color: #FFBA3D;
			}

			li > a > i {
				margin-right: 10px;
			}

			.active {
				border-radius: none;
				a {
					color: #FFBA3D;
				}
			}
		}

	}

	.modal {
		.modal-content {
			border-radius: 0px;
		}

		.modal-header {
			background: #FFBA3D;
			padding-bottom: 5px;
			padding-top: 5px;

			h3 {
				color: white;
				font-weight: bold;
			}
		}

		label {
			margin-right: 10px;
		}
	}

	.main {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}

	@media (max-width: 1450px) {

	}

	@media (max-width: 1024px) {
		
	}

	@media (max-width: 768px) {  
		.main {
			padding-left: 0px;
			margin: 0px;
			width: 100%;
		}  

		.input-search {
			padding-top: 10px;
		}

		.name-title {
			text-align: center;
		}
	}

	.checkbox {
		padding-top: 5px;
		.remember {
			padding-left: 20px;
		}

		#user_remember_me {
			margin-left: 2px;
		}

	}

	.button-area {
		padding-bottom: 20px;

		.btn {
			border-radius: 0px;
		}
	}
	
	tbody tr td {
		color: #333333;
	}

	tr:hover {
		background: #fcf8e3;
	}

	tr a:hover i {
		color: #428bca;
		transition: all 0.1s ease-in-out;
	}

	tr:hover a {
		color: #428bca;;
		text-decoration: none;
		display: inline-block;
	}

	a {
		color: #333333;
	}

	tr a i {
		font-size: 20px;
		color: #333333;
		padding-right: 5px;
	}

	.error {
		color: red;
	}

	.list-group-item span {
		color: #8a6d3b;
		font-weight: none;
	}
}

.title-components{
	color:#5F5858;
	padding: 5px;
	width: 100%;
	position: relative;
	left: 0px;
	top:-10px;
	font-size: 14px;
	padding-right: 0px;
}

.title-admin{
	padding: 15px 25px;
	padding-bottom: 10px;
	position: relative;
	margin: 0;
	background-color: #e7e5e1;
	font-size: 20px;
	
	.input-group {

		.input-group-addon {
			border-radius: none;
			background: #e7e5e1;
			border: none;
		}

		.form-control {
			border-radius: 0px;
			background: #e7e5e1;
			border: none;
			box-shadow: none;
			font-size: 14px;
			color: black;
			padding-left: 10px;
		}

		.focusedInput:focus {
	    background: rgba(82, 82, 82, 0.14);
	    -webkit-transition:0.5s;
		}

		.input-group-addon {
	    background: rgba(82, 82, 82, 0.14);
	    -webkit-transition:0.5s;
		}

		::-webkit-input-placeholder {
		  color: black;
		  font-size: 14px;
		}

		:-moz-placeholder { /* Firefox 18- */
		  color: #5F5858;
		  font-size: 14px;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		  color: #5F5858;
		  font-size: 14px;
		}

		:-ms-input-placeholder {  
		  color: #5F5858;
		  font-size: 14px;
		}

		input {
			z-index: 0;
		}

	}

	.name-title {
		padding-top: 3px;
	}
}

#dashoard{
	margin-top: 10px;
	padding-left: 26px;
	padding-right: 26px;
	width: 100%;
}

a.close-alert{
	color: #ffffff;
	text-decoration: none;
}

a.close-alert:hover{
	color: #ffffff;
	text-decoration: none;
}

.sidebar {			
 	height: 100%;
	z-index: 100;
	left:-700px;
	min-width: 280px;
	-webkit-transition:0.5s;
}

.sidebar-modal {
	opacity: 0;
	position: fixed;
	width: 0%;
	height: 0%;
	z-index: 1040;
	background-color: rgba(0, 0, 0, 0.37);
}

.show{
	left: 0px;
	-webkit-transition:0.5s	 
}

.show-modal {
	opacity: 1;
	width: 100%;
	height: 100%;
}

/*scrollbars*/
/*scrollbars*/
.data{
	overflow: auto;
	border-left: 1px solid #e7e7e7;
}

.attributes {
	padding: 10px;
}

.data::-webkit-scrollbar{
	padding: 20px;
	width:7px;
	background-color:none;
} 

.data::-webkit-scrollbar-thumb{
	background-color:rgba(255, 193, 7, 0.6);
}

.data::-webkit-scrollbar-thumb:hover{
	background-color:#FFC107;
	width: 20px;
}

.data::-webkit-scrollbar-thumb:active{
	background-color:#FFC107;
} 

.container_form{
	margin-top: 60px;
	background: #ffffff;
	border: #c0c0c0;
	box-shadow: 0px 3px 5px #CACACA;
	border-radius: none;
	padding: 0px;

	.form-inyx{
		padding: 10px 20px 10px 20px;
	}

	.title_form{
		background: #E0E0E0 !important;
		color: #616161;
		padding: 10px;
		font-size: 20px;
	}

	.input-inyx {
		margin-top: 15px;
		border-radius: 0px;
	}

}

.float-button{
	position: fixed;
	bottom: 21px;
	right: 21px;
	border-radius: 50%;
	background: #FFC107;
	color: #ffffff;
	width: 50px;
	height: 50px;
	box-shadow: 0px 6px 10px #9C9C9C;
	i{
		position: absolute;
		font-size: 30px;
		color: white;
		top:12px;
		right: 13px;
	}
}

.panel-header{
	background: #E4E4E4;
	height: 50px;
	padding-top: 15px;
	position: relative;
	
	.last{
		position: absolute;
		top:7px;
		left: 11px;
	}

	.next{
		position: absolute;
		top:7px;
		right: 11px;
	}
}


/*show*/
#heading-show{
	position: relative;
	height: 45px;
	
}


#body-show{
	padding: 10px;
}
/*end show*/

body#admin .alert {
  margin-bottom: 0px;
  padding-top: 15px;
  padding-bottom:15px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}

#message_alerts{
	z-index: 1;
	width: 400px;
	position: fixed;
	bottom: 21px;
	right: 21px;
}


