%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	%link{:href => "http://fonts.googleapis.com/css?family=Roboto:300,700,400", :rel => "stylesheet", :type => "text/css"}/
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	= csrf_meta_tags
	= favicon_link_tag 'frontend/favicon.png'
	%meta{:content => "summary", :property => "twitter:card"}/
	%meta{:content => "http://www.inneoproducciones.com/", :property => "twitter:url"}/
	%meta{:content => "@inneopro", :property => "twitter:site"}/
	%meta{:content => "es_ES", :property => "og:locale"}/
	%meta{:content => "article", :property => "og:type"}/
	%meta{:content => "Inneo Producciones - Marketing Audiovisual", :property => "og:site_name"}/
	%meta{:content => "noodp,noydir", :name => "robots"}/
	%meta{:content => "Somos una productora de eventos, hacemos branding, marketing, talento musical con nuestra banda DIVOZ, Produccion audiovisual y de eventos en Venezuela", :name => "description"}
	%meta{:content => "noodp,noydir", :name => "robots"}/
	%title INNEO PRODUCCIONES - MARKETING AUDIOVISUAL EN VENEZUELA
	:javascript
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-64028504-1', 'auto');
		ga('send', 'pageview');