-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-static-top#front-navbar
	.container-fluid
		.navbar-header
			%button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			.navbar-brand
				= link_to "/" do 
					=image_tag "frontend/Logotipo footer.png", width: "100px" 
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			- if controller.action_name == "index"
				%ul.nav.navbar-nav.navbar-right
					%li.bar
						%a{:href => "#home"}	HOME
					%li.bar
						%a{:href => "#services"} SERVICIOS
					%li.bar
						%a{:href => "#contact"} CONTACTOS
			- else	
				= render 'layouts/frontend/navigation_services'
			
				
