%ul.nav.navbar-nav.navbar-right
	%li.bar{style: "z-index: 10;"}
		= link_to "HOME", root_path(anchor: "home"), class: "external"
	%li.dropdown.hidden-xs.hidden-sm
		%a.dropdown-tag{:href => "#services"}
			SERVICIOS
			.arrow-navbar.hidden-xs.hidden-sm
				= image_tag ("frontend/flechas-navbar.png")
		%ul.dropdown-menu.dropdown-nav{:role => "menu"}
			%li
				= link_to "PRODUCCIÓN DE EVENTOS", service_path(category: "producción-de-eventos", permalink: "fotografia"), class: "external"
			.divider
			%li
				= link_to "MARKETING AUDIOVISUAL", service_path(category: "marketing-audiovisual" , permalink: "animacion-2d-y-3d"), class: "external"
			.divider
			%li
				= link_to "BRANDING", service_path(category: "branding", permalink: "identidad-corporativa"), class: "external"
			.divider
			%li
				= link_to "DIVOZ", service_path(category: "divoz", permalink: "divoz"), class: "external"
	%li.bar.hidden-lg.hidden-md
		= link_to "SERVICIOS", root_path(anchor: "services"), class: "external"
	%li.bar
		%A{href: "#contactos"} CONTACTOS

