%ul.nav.nav-pills
	%li.hidden-lg.hidden-md.hidden-sm#btn-xs{ class: "#{'active' if params[:controller] == 'production_events'}" } 
		= link_to new_production_event_path do
			DIVOZ/PRODUCCIÓN
			%br/
			DE EVENTOS
	%li.hidden-xs#btn-lg{ class: "#{'active' if params[:controller] == 'production_events'}"} 
		= link_to new_production_event_path do
			DIVOZ/PRODUCCIÓN DE EVENTOS
	%li#btn-lg{ class: "#{'active' if params[:controller] == 'brands'}" }
		= link_to new_brand_path do
			BRANDING
	%li.hidden-lg.hidden-md.hidden-sm#btn-xs{ class: "#{'active' if params[:controller] == 'audiovisuals'}" }
		= link_to new_audiovisual_path do
			MARKETING
			%br/
			AUDIOVISUAL
	%li.hidden-xs#btn-lg{ class: "#{'active' if params[:controller] == 'audiovisuals'}" }
		= link_to new_audiovisual_path do
			MARKETING AUDIOVISUAL
	%li#btn-lg{ class: "#{'active' if params[:controller] == 'webs'}" }
		= link_to new_web_path do
			PÁGINAS WEB