 #clients{

  .coments{
    background-color: #292929;
    color:  #FFFFFF;
    
  }
  #testimonio{
    font-family: 'Roboto';  
    font-weight: 500;
    text-align: center;
  }

  #autor{
    font-family: 'Roboto';  
    font-weight: 400;
    text-align: center;
  }

  .btn-carousel{
    margin-top: 4%;
  }

  .progress{
    width: 50%;
    margin-left: 25%;
    height: 5px;
    background-color: #919090;
    border-radius: 0;
    margin-top: 4%;
  }

  .progress-bar{
    width: 0%;
    background-color: rgb(221, 93, 52);
  }

  .current{
    -webkit-animation: barra 8s infinite;
  }
  
}

@-webkit-keyframes barra {
  0%   { width: 0%; }
  100% { width: 100%; }
}

.carousel-control{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 70px !important;
  height: 50px !important;
  opacity: 1 !important;


}
.carousel-control.right{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.001) 0%, rgba(0, 0, 0, 1) 100%) !important;
}
.carousel-control.left{
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.001) 0%, rgba(0, 0, 0, 1) 100%) !important;
}

#control{
  margin-top: 20px;
}

/*phone - Portrait*/
@media(max-width:767px) and (orientation: portrait){
  .coments{
    height: 250px;
  }

  #testimonio{
    padding: 0;
    margin-right: -25px;
    margin-left: -25px;
  }

  #autor{
    margin-top: 10px;
  }
  #comillas{
    width: 100%;
  }

  #row-testimonio{
    width: 100%;
    margin-left: 0;
  }

  #foto-testimonio{  
    margin-top: -15%;
    padding-bottom: 3%;
  }

}

/*phone - Landscape*/
@media(max-width:767px) and (orientation: landscape){
  .coments{
    height: 230px;
  }

  #testimonio{
    padding: 0;
    margin-right: -15px;
    margin-left: -15px;
  }

  #autor{
    margin-top: 15px;
  }
  #comillas{
    width: 90%;
  }

  #row-testimonio{
    width: 100%;
    margin-left: 0;
  }

  #foto-testimonio{
    margin-top: -12%;
    padding-bottom: 3%;
  }

}

/*tablet - Portrait*/
@media(min-width:768px) and (orientation: portrait){
  .coments{
    height: 300px;
  }

  #testimonio{
  }

  #autor{
    margin-top: 20px;
  }
  #comillas{
    width: 50%;
  }

  #row-testimonio{
    width: 90%;
    margin-left: 5%;
  }

  #foto-testimonio{
    margin-top: -8%;
    padding-bottom: 4%;
  }

}

/*tablet - Landscape*/
@media(min-width:768px) and (orientation: landscape){
  .coments{
    height: 300px;
  }

  #testimonio{
  }

  #autor{
    margin-top: 20px;
  }
  #comillas{
    width: 60%;
  }

  #row-testimonio{
    width: 80%;
    margin-left: 10%;
  }

  #foto-testimonio{
    margin-top: -8%;
    padding-bottom: 4%;
  }

}

/*desktop*/
@media(min-width:992px){
  .coments{
    height: 350px;
  }

  #testimonio{
    font-size: 19px;
  }

  #autor{
    margin-top: 25px;
    font-size: 17px;
  }
  #comillas{
    width: 70%;
  }

  #row-testimonio{
    width: 80%;
    margin-left: 10%;
  }

  #foto-testimonio{
    margin-top: -6%;
    padding-bottom: 4%;
  }
}

/*desktop large*/
@media(min-width:1200px){  
  .coments{
    height: 400px;
    
  }
  #testimonio{
    font-size: 19px;
  }

  #autor{
    margin-top: 25px;
    font-size: 17px;
  }
  #comillas{
    width: 100px;
  }
  
  #row-testimonio{
    width: 70%;
    margin-left: 15%;
  }

  #foto-testimonio{
    margin-top: -4%;
    padding-bottom: 4%;
  }
}