#socials{
  color:#abaaaa;
  font-size: 50px;
  font-size: 39px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 60px;
  -webkit-transition: color 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
  transition: color 0.2s;
}

#socials:hover{
  color: #ce6030;
}

#direccion{
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto'; 
  font-weight: 300;
  font-size: 16px;
}

#presupuesto-contacto{
  margin-top:-50px;
  padding: 10px;
  font-size: 17px;
}
#inneo-color{
  padding-bottom: 70px;
  img{
    width: 269px;
    height: 89px;
  }
}

#contactos{
  width: 100%;
  height: 163px;
  background-color: #292929;
}

.inneo-footer{
  padding-top: 55px;
  img{
  }
}

#footer{
  padding-top: 20px;
  padding-bottom: 20px;
  img{
    width: 100px;
    display: inline-block;
    margin-left: 10px;
  }
}


/*phone - Portrait*/
@media(max-width:767px) and (orientation: portrait){
  #socials{
    margin-top: 15px;
  }

  #direccion{
    padding-top: 20px; 
  }
  #inneo-color img{
    width: 194px;
    height: 63px;
  }

  .inneo-footer{
    padding-top: 20px;
    img{
      width: 70%;
    }
  }

}

/*phone - Landscape*/
@media(max-width:767px) and (orientation: landscape){
  #socials{
    text-align: center;
    margin-top: 20px;
  }

  #direccion{
    padding-top: 30px;
    font-size: 13px !important; 
  }

  #inneo-color img{
    width: 240px;
    height: 78px;
  }

  .inneo-footer{
    padding-top: 20px;
    img{
    }
  }
}

/*tablet - Portrait*/
@media(min-width:768px) and (orientation: portrait){
  #socials{
    margin-top: 20px;
  }

  #direccion{
    padding-top: 20px; 
    font-size: 14px !important;
  }
  #inneo-color img{
    width: 269px;
    height: 89px;
  }

  .inneo-footer{
    padding-top: 20px;
    img{
    }
  }
}

/*tablet - Landscape*/
@media(min-width:768px) and (orientation: landscape){
  #socials{
    margin-top: 25px;
  }

  #direccion{
    padding-top: 0px; 
    font-size: 14px !important;
  }
  #inneo-color img{
    width: 269px;
    height: 89px;
  }

  .inneo-footer{
    padding-top: 20px;
    img{
    }
  }  
}

/*desktop*/
@media(min-width:992px){
  #socials{
    margin-top: 60px;
  }

  #direccion{
    padding-top: 45px; 
  }
  #inneo-color img{
    width: 269px;
    height: 89px;
  }

  .inneo-footer{
    padding-top: 50px;
    img{
    }
  }
}

/*desktop large*/
@media(min-width:1200px){
  #socials{
    margin-top: 60px;
  }

  #direccion{
    padding-top: 45px; 
  }
  #inneo-color img{
    width: 269px;
    height: 89px;
  }

  .inneo-footer{
    padding-top: 50px;
    img{
    }
  }
}