.subTitles{
  padding-bottom: 20px;
  color: #cf6130;
  font-family: 'Roboto';  
  font-weight: 700;
  font-size: 18px;
  height: auto !important;
  text-align: left;
}
.datepicker-dropdown {
  font-family: 'Roboto';  
  font-weight: 500;
  font-size: 15px;
  color: #545454 !important;
  .active{
    background-color: #E3703D !important;
  }
}
.form-control[readonly]{
  background-color: #D8D8D8 !important;
}
.help-inline{
  color: red;
}

#backing_height::-webkit-inner-spin-button, 
#backing_height::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
#backing_width::-webkit-inner-spin-button, 
#backing_width::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form{
  font-family: 'Roboto';  
  font-weight: 500;
  font-size: 15px;
  
  select{
    margin-top: 15px;
    background-color: #D8D8D8;
    color: black;
    font-weight: 700;
  }
  input{
    margin-top: 15px;
    background-color: #D8D8D8;
    color: black;
    font-weight: 700;
  }
  input::-webkit-input-placeholder { 
    color: #868080;
    font-weight: 700;
  }
  textarea{
    background-color: #D8D8D8;
    color: black;
    font-weight: 700;
  }
  textarea::-webkit-textarea-placeholder { 
    color: #868080;
    font-weight: 700;
  }
  .event_type {
    label{
      margin-right: 20px;
      margin-left: 5px;
      margin-bottom: 5px !important;
    }
  }
  #lugar label{
    margin-bottom: 10px !important;
  }
  .checkbox label{
    font-weight: bold !important;
  }
  input[type="time"]{
    width: 120px; 
    display: inline; 
    margin-top: -5px; 
    margin-left: 20px;
    height: 30px;
    cursor: pointer;
  }
  label{
    margin-bottom: 20px !important;
  }
  #photo_print{
    margin-top: -5px !important;
    margin-bottom: 20px !important;
  }

}

.mode label{
  width: 33%;
  text-align: center;
  label{
    text-align: left;
    margin-left: 5px;
  }
}
.suggest{
  margin-top: 20px;
}

#event_type label label{
  margin-right: 35px;
}

.nav-pills {
  li{
    background-color: #292929;
    height: 50px;
    margin: 0 !important;
    border-radius: 0;

    a{
      text-align: center;
      padding-top: 15px !important;
      color: white;
      height: 50px;
      font-family: 'Roboto';  
      font-weight: 500;
      font-size: 15px;
      border: solid 1px white;
      border-radius: 0 !important;
      background-color: #292929;
      -webkit-transition: background-color 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: background-color 0.2s;
    }
  }

}
.nav-pills li a:hover{
  background: #E16A35 !important;
  color: white !important;
  cursor: pointer;
  border-radius: 0 !important;
  border: solid 1px white;
  border-radius: 0 !important;  
}
.nav-pills .active{
  a{
    font-weight: 500 !important;
    background: #E16A35 !important;
    color: white !important;
    border-radius: 0 !important; 
    border: solid 1px white;
    border-radius: 0 !important;  
  }
}
.error-msg{
  font-family: 'Roboto';  
  font-weight: 700;
  font-size: 15px;
  color: #545454;
  padding: 30px;
  padding-bottom: 0px !important;
  margin-bottom: -20px;
  .error{
    padding-left: 15px;
  }
}

#vacio{
  height: 40%;
  padding-top: 5%;
  center {
    font-family: 'Roboto';  
    font-weight: 700;
    font-size: 15px;
    color: #545454;
  }
  .message{
    padding-top: 30px;
    color: #E16A35 !important;
  }
}

.details{
  font-weight: bold !important;
  margin-left: 25%;
  -webkit-transition: background-color 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
  transition: background-color 0.2s;
}
.details:hover{
  background-color: #E16A35 !important;
  color: #ffffff !important;
}
.popover-content{
  background: #000000;
  border-radius: 15px;
}
.popover{
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  z-index: 1 !important;
  font-family: 'Roboto' !important;  
  font-weight: 500 !important; 
  font-size: 15px !important;
  color:  #ffffff;
  max-width: 100% !important;
}
.arrow::after{
  border-bottom-color: #000000 !important;
}
.popover.bottom > .arrow{
  top: -10px !important;
}

#btn-xs{
  a{
    padding-top: 3% !important;
  }
}
#otro_grupo1{
  label{
    margin-bottom: 0px !important;
  }
}

/*phone - Portrait*/
@media(max-width:767px) and (orientation: portrait){
  .nav-pills li{
    width: 50%;
    a{
      font-size: 13px;
    }
  }
  .divoz{
    label{
      height: 30px ;
      font-size: 11px !important;
    }
  }
  .branding{
    label{
      height: 30px ;
      font-size: 11px !important;
    }
  }
  .audiovisual{
    label{
      height: 40px ;
      font-size: 11px !important;
    }
  }
  .web{
    label{
      height: 30px ;
      margin-bottom: 5px;
      font-size: 10px !important;
    }
  }
  #vacio{
    height: 30%;
    padding-top: 15%;
    width: 70%;
    margin-left: 15%;
  }
  .form{
    width: 100% !important;

    input[type="time"]{ 
     display: block;
    }
    #groups{
      label{
        margin-top: 10px !important;
        margin-bottom: 0 !important;
      }
      #otro_grupo2{
        display: inline-block;
        margin-top: 5px !important;
      }
      #otro_grupo1{
        display: none;
      }
    }
  }
  #num{
    input{
      margin: 2px;
    }
  }
  .details{
    font-size: 11px !important;
    padding: 7px !important;
  }
  .event_type {
    label{
      margin-right: 10px !important;
    }
  }


  #comentario{
    width: 80% !important; 
    margin-left: 10%; 
    height: 150px;
  }
  ul li a{
    font-size: 13px !important;
  }
  #columnas-movil{
    margin-top: -10px;
  }
  .web_socials{
    margin-top: 30px !important;
  }
  .web_animation{
    margin-top: -10px !important;
  }


}

/*phone - Landscape*/
@media(max-width:767px) and (orientation: landscape){
  .nav-pills li{
    width: 25%;
  }
  #vacio{
    height: 40%;
    padding-top: 10%;
  }
  .divoz{
    label{
      height: 30px ;
    }
  }
  .branding{
    label{
      height: 30px ;
    }
  }
  .audiovisual{
    label{
      height: 40px ;
    }
  }
  .web{
    label{
      height: 30px ;
      margin-bottom: 5px;
    }
  }
  .form{
    width: 90% !important;
    margin-left: 5% !important;
    label{
      font-size: 12px;
    }
    #otro_grupo2{
      display: inline-block;
    }
    #otro_grupo1{
      display: none;
    }
  }
  #columnas-movil{
    margin-top: -10px;
  }
  #comentario{
    width: 60% !important; 
    margin-left: 20%; 
    height: 150px;
  }
  ul li a{
    font-size: 13px !important;
  }
  .web_socials{
    margin-top: 30px !important;
  }
  .web_animation{
    margin-top: -10px !important;
  }
}

/*tablet - Portrait*/
@media(min-width:768px) and (orientation: portrait){
  .nav-pills li{
    width: 50%;
  }
  #vacio{
    height: 33%;
    padding-top: 20%;
  }
  .form{
    width: 94% !important;
    margin-left: 2% !important;
    label{
      font-size: 12px;
    }
    #otro_grupo2{
      display: inline-block;
    }
    #otro_grupo1{
      display: none;
    }
  }
  .divoz{
    label{
      height: 30px ;
    }
  }
  .branding{
    label{
      height: 30px ;
    }
  }
  .audiovisual{
    label{
      height: 40px ;
    }
  }
  .web{
    label{
      height: 30px ;
      margin-bottom: 5px;
    }
  }
  #tablet1{
    display: inline-block;
  }
  #tablet2{
    display: none;
  }
  #comentario{
    width: 60% !important; 
    margin-left: 20%; 
    height: 150px;
  }
  .web_socials{
    margin-top: 25px !important;
  }
  .web_video{
    margin-top: -5px !important;
  }
  .web_animation{
    margin-top: -10px !important;
  }
  #columnas-movil{
    margin-top: -10px;
  }
  .event_type {
    label{
      margin-right: 10px !important;
    }
  }
}

/*tablet - Landscape*/
@media(min-width:768px) and (orientation: landscape){
  .nav-pills li{
    width: 25%;
  }
  #vacio{
    height: 40%;
    padding-top: 15%;
  }
  .form{
    width: 90% !important;
    margin-left: 5% !important;
    label{
      font-size: 13px;
    }
    #otro_grupo2{
      display: inline-block;
    }
    #otro_grupo1{
      display: none;
    }
  }
  .divoz{
    label{
      height: 30px ;
    }
  }
  .branding{
    label{
      height: 30px ;
    }
  }
  .audiovisual{
    label{
      height: 40px ;
    }
  }
  .web{
    label{
      height: 30px ;
      margin-bottom: 8px;
    }
  }

  #columnas-movil{
    margin-top: 0px;
  }
  #comentario{
    width: 50% !important; 
    margin-left: 25%; 
    height: 150px;
  }
  .web_socials{
    margin-top: 25px !important;
  }
  .web_video{
    margin-top: -10px !important;
  }
  .web_animation{
    margin-top: -5px !important;
  }
  #web_other_content_check{
    margin-top: -10px !important;
  }
  .audiovisual_jingle_lyrics{
    margin-top: -10px !important;
  }
  .audiovisual_arquitecture{
    margin-top: -10px !important;
  }
  #tablet1{
    display: inline-block;
  }
  #tablet2{
    display: none;
  }
  .backing{
    margin-top: 10px !important;
  }
}

/*desktop*/
@media(min-width:992px){
  .nav-pills li{
    width: 25%;
  }
  #vacio{
    height: 40%;
    padding-top: 5%;
  }
  .form{
    width: 90% !important;
    margin-left: 5% !important;
    label{
      height: auto !important;
      font-size: 12px;
    }
    #otro_grupo2{
      display: none;
    }
    #otro_grupo1{
      display: inline-block;
    }
  }
  #columnas-movil{
    margin-top: 0px;
  }

  #comentario{
    width: 40% !important; 
    margin-left: 30%; 
    height: 150px;
  }
}

/*desktop large*/
@media(min-width:1200px){
  .nav-pills li{
    width: 25%;
  }
  #vacio{
    height: 40%;
    padding-top: 5%;
  }
  .form{
    width: 80% !important;
    margin-left: 10% !important;
    label{
      height: auto !important;
      font-size: 14px;
    }
    #otro_grupo2{
      display: none;
    }
    #otro_grupo1{
      display: inline-block;
    }
  }
  #columnas-movil{
    margin-top: 0px;
  }
  #comentario{
    width: 40% !important; 
    margin-left: 30%; 
    height: 150px;
  }
}