*{
  padding: 0px;
  margin:0px;
}

.btn-presupuesto{
  border: none;
  color: white;
  background-color: rgb(235, 94, 48);;
  font-family: 'Roboto';  
  font-weight: 900;
  box-shadow: 3px 3px 0px #b84d1e;
}

.btn-presupuesto:hover{
  color: #545455;
}

.separador{
  width: 100%;
  img{
    width: 160px;
    height:18px;
  }
}


/*phone - Portrait*/
@media(max-width:767px) and (orientation: portrait){
  .titles-inneo{
    padding-top: 50px;
    text-align: center;
    color: #545454;
    font-family: 'Roboto';  
    font-weight: 700;
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .separador{
    padding: 30px;
  }

  .textos{
    text-align: center;
    color: #545454;
    font-family: 'Roboto';  
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*phone - Landscape*/
@media(max-width:767px) and (orientation: landscape){
  .titles-inneo{
    padding-top: 50px;
    text-align: center;
    color: #545454;
    font-family: 'Roboto'; 
    font-size: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
  }

  .separador{
    padding: 30px;
  }

  .textos{
    text-align: center;
    color: #545454;
    font-family: 'Roboto';  
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/*tablet - Portrait*/
@media(min-width:768px) and (orientation: portrait){
  .titles-inneo{
    padding-top: 70px;
    text-align: center;
    color: #545454;
    font-family: 'Roboto';  
    font-weight: 700;
    font-size: 20px;
  }

  .separador{
    padding: 30px;
  }

  .textos{
    text-align: center;
    color: #545454;
    font-family: 'Roboto';  
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 100px;
    width: 80%;
  }
}

/*tablet - Landscape*/
@media(min-width:768px) and (orientation: landscape){
  .titles-inneo{
    padding-top: 70px;
    text-align: center;
    color: #545454;
    font-family: 'Roboto';  
    font-weight: 700;
    font-size: 20px;
  }

  .separador{
    padding: 30px;
  }

  .textos{
    text-align: center;
    color: #545454;
    font-family: 'Roboto';  
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 100px;
    width: 70%;
  }
}

/*desktop*/
@media(min-width:992px){
  .titles-inneo{
    padding-top: 100px;
    text-align: center;
    color: #545454;
    font-family: 'Roboto';  
    font-weight: 700;
    font-size: 25px;
  }

  .separador{
    padding: 40px;
  }

  .textos{
    text-align: center;
    color: #545454;
    font-family: 'Roboto';  
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 100px;
    width: 60%;
  }
}

/*desktop large*/
@media(min-width:1200px){
  .titles-inneo{
    padding-top: 100px;
    text-align: center;
    color: #545454;
    font-family: 'Roboto';  
    font-weight: 700;
    font-size: 25px;
  }

  .separador{
    padding: 40px;
  }

  .textos{
    text-align: center;
    color: #545454;
    font-family: 'Roboto';  
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 100px;
    width: 50%;
  }
}