#home {
  height: 100%;
  overflow: hidden;

  .video{
    position: absolute;
    min-width: 100%; min-height: 100%;
    width: 100%; height: 100%; z-index: -100;
    background-size: cover;
    overflow: hidden;
  }


  .background-home {
    position: absolute; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    background: image-url("frontend/BackgroundResponsiveMovilTablet-compressor.jpg") no-repeat;
    background-size: cover;
    background-position: 100% 25%;
  }

  .responsive-container {
    z-index: 10000;
  }


  #arrow{
    margin-bottom: 10px;
    img{
      width: 40px;
      height: 40px;
    }
  }

  .buttons {
    position: absolute;
    bottom:0;
    overflow: hidden;
    left: 0;
    right: 0;
    text-align: center; 
    margin-bottom: 1%;
  }

  .responsive-container { 
    -webkit-animation: show 3s;  
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0px;
    margin:0px;
  }

  .img-container {
    position: absolute;
    top: 25%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align:center; /* Align center inline elements */
    font: 0/0 a;
    height: 20%;
  }

  .img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 30%;
  }

  .img-container img {
    vertical-align: middle;
    display: inline-block;
  }

  .titles {
    position: absolute;
    bottom: 0;
    top: 55%;
    height: 46px;
    overflow: hidden;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-animation: titles 2s;
    animation: titles 2s;
    margin-bottom: 50px;
  }

   .titles ul {
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    color: white;
    list-style: none;
    padding: 0px;
  }

  .titles ul li {
    position: relative;
    font-size: 2.5em;
    color: white;
    font-family: 'Roboto';  
    font-weight: 700;
  }

  .titles ul li .light-title{
    font-family: 'Roboto';  
    font-weight: 100;
  }
  
}

#presupuesto-home{
  margin-bottom: 3%;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*phone - Portrait*/
@media(max-width:767px) and (orientation: portrait){
  .logo-inneo{
    width: 65%;
  }
  #presupuesto-home{
    padding: 10px;
    font-size: 17px;
    margin-bottom: 15% !important;
  }
  .titles{
    height: 33px !important;
  }
  .titles ul li {
    font-size: 1.5em !important;
  }
}

/*phone - Landscape*/
@media(max-width:767px) and (orientation: landscape){
  .logo-inneo{
    width: 35%;
  }
  .img-container{
    top: 15% !important;
  }
  #presupuesto-home{
    padding: 10px;
    margin-bottom: 12% !important;
    font-size: 17px;
  }
  .titles{
    height: 40px !important;
    top: 45% !important;
  }
  .titles ul li {
    font-size: 2em !important;
  }
  .buttons{
    margin-bottom: -5%! important;
  }
}

/*tablet - Portrait*/
@media(min-width:768px) and (orientation: portrait){
  .logo-inneo{
    width: 40%;
  }
  #presupuesto-home{
    padding: 10px;
    font-size: 17px;
    margin-bottom: 10% !important;
  }
  .titles{
    height: 33px !important;
  }
  .titles ul li {
    font-size: 1.5em !important;
  }
}

/*tablet - Landscape*/
@media(min-width:768px) and (orientation: landscape){
  .logo-inneo{
    width: 40%;
  }
  .img-container{
    top: 15% !important;
  }
  #presupuesto-home{
    padding: 10px;
    margin-bottom: 10% !important;
    font-size: 17px;
  }
  .titles{
    height: 40px !important;
    top: 45% !important;
  }
  .titles ul li {
    font-size: 2em !important;
  }
}

/*desktop*/
@media(min-width:992px){
  .logo-inneo{
    width: 25%;
  }

  #presupuesto-home{
    padding: 15px;
    font-size: 17px;
    margin-bottom: 2% !important;
  }
  .video{
    video{
      width: 100%; height: 100%;
      -moz-transform: scale(1.2, 1.4);
      -webkit-transform: scale(1.2, 1.4);
      -o-transform: scale(1.2, 1.4);
      -ms-transform: scale(1.2, 1.4);
      transform: scale(1.2, 1.4);
    }
  }
}

/*desktop large*/
@media(min-width:1200px){
  .logo-inneo{
    width: 25%;
  }

  #presupuesto-home{
    padding: 15px;
    font-size: 17px;
    margin-bottom: 3% !important;
  }
  .video{
    video{
      width: 100%; height: 100%;
      -moz-transform:scale(1.2 , 1.2); 
      -webkit-transform:scale(1.2 , 1.2); 
      -o-transform:scale(1.2 , 1.2); 
      -ms-transform:scale(1.2 , 1.2); 
      transform:scale(1.2 , 1.2); 
    }
  }
}