#front-navbar.navbar-default {
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 15px;
  background-color: #ffffff;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
  z-index: 1000;
  color: #545455;
  font-weight: 700;
}

.container-fluid{
  padding: 10px;
  width: 85%;
  padding-bottom: 0;
}

.navbar-brand{
  padding: 0;
  img{
    margin-left: 15px;
    width: 110px;
    height: 36px;
  }
}
.navbar-right{
  margin-top: -5px;
}

.bar a{
  -webkit-transition: color 0.4s ease-in-out; /* For Safari 3.1 to 6.0 */
  transition: color 0.4s;
}

.bar:hover{
  a{
    color: rgb(235, 94, 48) !important;
  }
}
.navbar-toggle{
  margin-top: 0;
}
.navbar-collapse{
  margin-top: 0;
}
.current{
  a{
    color: #cf6130 !important;
  }
}
.dropdown-tag:hover{
  color: rgb(235, 94, 48) !important;
}
.dropdown-tag{
  height: 50px;
  width: 210px;
  margin-left: -43px;
  margin-right: -43px;
  text-align: center; 
}

.dropdown:hover{
  display: block;
  .dropdown-nav {
    display:block;
  }
}

.dropdown-nav{
  display:none;
  padding: 0;
  margin: 0;
  margin-left: -43px;
  margin-right: -43px;
  padding-top: 5px;
  background-color: transparent;
  border:none;
  box-shadow: none !important;
}
.divider{
  color: #afafaf;
  margin: 0 !important;
}


.dropdown-nav li a{
  background: #292929 !important;
  color: white !important;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.dropdown-nav li:hover{
  a{
    color: rgb(235, 94, 48) !important;
    background: #292929 !important;

  }
}

.arrow-navbar{
  display: inline;
  img{
    margin-top: 0;
    width: 20px;
    margin-bottom: -30px; 
  }
}

/*phone - Portrait*/
@media(max-width:767px) and (orientation: portrait){

}

/*phone - Landscape*/
@media(max-width:767px) and (orientation: landscape){

}

/*tablet - Portrait*/
@media(min-width:768px) and (orientation: portrait){

}

/*tablet - Landscape*/
@media(min-width:768px) and (orientation: landscape){

}

/*desktop*/
@media(min-width:992px){
  .container-fluid{
    width: 95% !important;
  }
}

/*desktop large*/
@media(min-width:1200px){
  .container-fluid{
    width: 95% !important;
  }
}