.banner{
  width: 100%;
  padding: 0;
  margin: 0;
  background-size: cover;
  height: 300px;
  img{
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
#produccion-banner{
  background-image: url("modulo-produccion.jpg");
  background-position: 50%;
}
#branding-banner{
  background-image: url("modulo-Branding.jpg");
  background-position: 20%;
}
#marketing-banner{
  background-image: url("modulo-marketing.jpg");
  background-position: 70%;
}
#divoz-banner{
  background-image: url("modulo-Divoz.jpg");
  background-position: 50% 20%;
}
.mask-video {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: rgba(84, 84, 85, 0);
}
.img-video-sm-xs{
  display: block;
  max-width: 100%;
  height: 300px;
}
.img-video-md-lg{
  display: block;
  max-width: 100%;
  height: 400px;
}

.modal{
 background: transparent;
}

#Modal{
  height: 100%;
}

.modal-content {
  background: transparent;
  border: 0px;
  box-shadow: none;
}

.modal-header{
  background: transparent;
  height: 50px;
  border: 0px;

  .close {
    position: relative;
    right: -50px;
    color: white;
    opacity: 1;
    font-size: 50px;
  }
}

.modal-dialog{
  background: transparent;
}

.modal-body {
  padding: 0px;


  img{
    width: 100%;
  }
}

.menu-catalogo{
  margin-bottom: 50px;
  li{
    background-color: #292929;
    border: solid 1px white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    display: block;
    cursor: pointer;
  }
  a{
    color: white;
    font-family: 'Roboto';  
    font-weight: 700;
    text-align: center;
    text-decoration: none;
  }
}

.menu-catalogo li:hover {
  a{ 
    color: rgb(235, 94, 48);
  }
}
.activo{
  a{ 
    color: rgb(235, 94, 48);
  }
}

.gallery{
  display: inline-block;
  width: 100%;
  padding: 0;
  .img-gallery{
    padding: 0;
    background-position: 50%;
  }
}

.pagination span{;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  a{
    color: #292929;
  }
}
.pagination .current {
    color: rgb(235, 94, 48) !important;
  }

/*phone - Portrait*/
@media(max-width:767px) and (orientation: portrait){
  .menu-catalogo{
    width: 100%;
  } 

  .modal-content{
    margin-top: 35%;
  }

  .modal-dialog{
    width: 100%;
  }
  .img-gallery{
    height: 250px;
    margin-bottom: 10px;
  }
}

/*phone - Landscape*/
@media(max-width:767px) and (orientation: landscape){
  .menu-catalogo{
    width: 70%;
  } 

  .modal-content{
    margin-top: -5%;
  }

  .modal-dialog{
    width: 70%;
  }
  .img-gallery{
    height: 250px;
    margin-bottom: 10px;
  }
}

/*tablet - Portrait*/
@media(min-width:768px) and (orientation: portrait){
  .banner{}
  .menu-catalogo{
    width: 100%;
  } 
  .modal-content{
    margin-top: 20%;
  }

  .modal-dialog{
    width: 80%;
  }
  .img-gallery{
    height: 300px;
    margin-bottom: 10px;
  }
}

/*tablet - Landscape*/
@media(min-width:768px) and (orientation: landscape){
  .menu-catalogo{
    width: 60%;
  } 

  .modal-content{
    margin-top: 0;
  }

  .modal-dialog{
    width: 80%;
  }
  .img-gallery{
    height: 300px;
    margin-bottom: 10px;
  }
}

/*desktop*/
@media(min-width:992px){
  .menu-catalogo{
    width: 38%;
  } 

  .img-gallery{
    height: 400px;
    margin: 0;
  }
}

/*desktop large*/
@media(min-width:1200px){
  .menu-catalogo{
    width: 30%;
  } 

  .img-gallery{
    height: 400px;
    margin:0;
  }

}