#services{

  .container{
    padding: 0;
    margin: 0;
    width: 100%;
  }

  #produccion-eventos{
    background: image-url("frontend/modulo-produccion.jpg") no-repeat;
    background-size: cover;
    background-position-x: 50%;
  }

  #marketing{
    background: image-url("frontend/modulo-marketing.jpg") no-repeat;
    background-size: cover;
    background-position-x: 80%;
  }

  #branding{
    background: image-url("frontend/modulo-Branding.jpg") no-repeat;
    background-size: cover;
    background-position-x: 20%;
  }

  #divoz{
    background: image-url("frontend/modulo-Divoz.jpg") no-repeat;
    background-size: cover;
    background-position-x: 50%;
  }

  .container-services{
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  #descripcion-servicios{
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto';  
    font-weight: 400;
    font-size: 18px;
  }

  #descripcion-divoz{
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto';  
    font-weight: 400;
    font-size: 18px;
  }

  #texto-servicios{
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto';  
    font-weight: 700;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  #titulo-divoz{
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto';  
    font-weight: 700;
    padding-top: 2%;
  }

  #titulo-divoz-mask2{
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto';  
    font-weight: 700;
  }

  #texto-divoz{
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto';  
    font-weight: 400;
    padding-bottom: 2%;
  }

  #texto-branding{
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto';  
    font-weight: 700;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  #texto-servicios-mask2{
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto';  
    font-weight: 700;
  }

  #texto-divoz-mask2{
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto';  
    font-weight: 400;
  }

  .mask-servicios1{
    background: rgba(84, 84, 84, 0.7);
    width: 100%;
    position: absolute;
    z-index: 2;
  }

  .mask-servicios2{
    background: rgba(84, 84, 84, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
  }
  #separador-servicios{
    img{
    width: 230px;
    height: 26px;
    }
  }

}

/*phone - Portrait*/
@media(max-width:767px) and (orientation: portrait){
  
  .container-services{
    height: 400px;
    margin-bottom: 10px;
  }

  #separador-servicios{
    position: absolute;
    top: 350px;
    width: 100%;
  }

  #texto-servicios{
    font-size: 27px;
    padding-top: 10px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #titulo-divoz{
    font-size: 30px;
    padding-top: 7px;
    padding-right: 0;
    padding-left: 0;
  }

  #titulo-divoz-mask2{
    font-size: 30px;
    padding-top: 7px;
    padding-right: 5%;
    padding-left: 5%;
  }

  #texto-divoz{
    font-size: 20px;
    padding-right: 1%;
    padding-left: 1%;
  }

  #texto-branding{
    font-size: 27px;
    padding-top: 25px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #texto-servicios-mask2{
    font-size: 30px;
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #descripcion-servicios{
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    top: 150px;
    width: 100%;
  }

  #descripcion-divoz{
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    top: 200px;
    width: 100%;
  } 
  .mask-servicios2{
    top: 0;
  }
}

/*phone - Landscape*/
@media(max-width:767px) and (orientation: landscape){
  
  .container-services{
    height: 400px;
    margin-bottom: 10px;
  }

  #separador-servicios{
    position: absolute;
    top: 300px;
    width: 100%;
  }

  #texto-servicios{
    font-size: 30px;
    padding-top: 25px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #titulo-divoz{
    font-size: 30px;
    padding-top: 7px;
    padding-right: 0;
    padding-left: 0;
  }

  #titulo-divoz-mask2{
    font-size: 30px;
    padding-top: 7px;
    padding-right: 5%;
    padding-left: 5%;
  }

  #texto-divoz{
    font-size: 30px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #texto-branding{
    font-size: 30px;
    padding-top: 25px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #texto-servicios-mask2{
    font-size: 30px;
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #descripcion-servicios{
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    top: 150px;
    width: 100%;
  }

  #descripcion-divoz{
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    top: 200px;
    width: 100%;
  }
  .mask-servicios2{
    top: 0;
  }
}

/*tablet - Portrait*/
@media(min-width:768px) and (orientation: portrait){
  
  .container-services{
    height: 400px;
    margin-bottom: 10px;
  }

  #separador-servicios{
    position: absolute;
    top: 300px;
    width: 100%;
  }

  #texto-servicios{
    font-size: 30px;
    padding-top: 25px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #titulo-divoz{
    font-size: 30px;
    padding-top: 7px;
    padding-right: 0;
    padding-left: 0;
  }

  #titulo-divoz-mask2{
    font-size: 30px;
    padding-top: 7px;
    padding-right: 5%;
    padding-left: 5%;
  }

  #texto-divoz{
    font-size: 30px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #texto-branding{
    font-size: 30px;
    padding-top: 25px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #texto-servicios-mask2{
    font-size: 30px;
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #descripcion-servicios{
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    top: 150px;
    width: 100%;
  }

  #descripcion-divoz{
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    top: 200px;
    width: 100%;
  }
  .mask-servicios2{
    top: 0;
  }
}

/*tablet - Landscape*/
@media(min-width:768px) and (orientation: landscape){
  
  .container-services{
    height: 400px;
    margin-bottom: 10px;
  }

  #separador-servicios{
    position: absolute;
    top: 300px;
    width: 100%;
  }

  #texto-servicios{
    font-size: 30px;
    padding-top: 25px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #titulo-divoz{
    font-size: 30px;
    padding-top: 7px;
    padding-right: 0;
    padding-left: 0;
  }

  #titulo-divoz-mask2{
    font-size: 30px;
    padding-top: 7px;
    padding-right: 5%;
    padding-left: 5%;
  }

  #texto-divoz{
    font-size: 30px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #texto-branding{
    font-size: 30px;
    padding-top: 25px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #texto-servicios-mask2{
    font-size: 30px;
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #descripcion-servicios{
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    top: 150px;
    width: 100%;
  }

  #descripcion-divoz{
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    top: 200px;
    width: 100%;
  }
  .mask-servicios2{
    top: 0;
  }
}

/*desktop*/
@media(min-width:992px){
  
  .container-services{
    height: 400px;
    margin:0;
  }

  #separador-servicios{
    position: absolute;
    top: 300px;
    width: 100%;
  }

  #texto-servicios{
    font-size: 30px;
    padding-top: 25px;
    padding-right: 5%;
    padding-left: 5%;
  }

  #titulo-divoz{
    font-size: 87px;
    padding-top: 7px;
    padding-right: 0;
    padding-left: 0;
  }

  #titulo-divoz-mask2{
    font-size: 30px;
    padding-top: 7px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #texto-divoz{
    font-size: 30px;
    font-weight: 300px;
    padding-right: 0;
    padding-left: 0;
  }

  #texto-branding{
    font-size: 30px;
    padding-top: 25px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #texto-servicios-mask2{
    font-size: 30px;
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #descripcion-servicios{
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    top: 150px;
    width: 100%;
  }

  #descripcion-divoz{
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    top: 200px;
    width: 100%;
  }

  .mask-servicios1{
    top: 140px;
  }

  .mask-servicios2{
    top: -100%;
  }

  #produccion-eventos {
    
    #mask1-production{
      top: 140px;
      -webkit-transition: top 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: top 0.2s;
    }

    #mask2-production {
      top: -100%;
      -webkit-transition: top 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: top 0.2s;
    }

  }

  #produccion-eventos:hover {
  
    #mask1-production{
      top: 400px;
    }

    #mask2-production {
      top: 0;
    }

  }

  #marketing {
    
    #mask1-marketing{
      top: 140px;
      -webkit-transition: top 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: top 0.2s;
    }

    #mask2-marketing {
      top: -100%;
      -webkit-transition: top 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: top 0.2s;
    }

  }

  #marketing:hover {

    #mask1-marketing{
      top: 400px;
    }

    #mask2-marketing {
      top: 0;
    }

  }

  #branding {
    
    #mask1-branding{
      top: 140px;
      -webkit-transition: top 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: top 0.2s;
    }

    #mask2-branding {
      top: -100%;
      -webkit-transition: top 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: top 0.2s;
    }

  }

  #branding:hover {

    #mask1-branding{
      top: 400px;
    }

    #mask2-branding {
      top: 0;
    }

  }

  #divoz {
    
    #mask1-divoz{
      top: 85px;
      -webkit-transition: top 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: top 0.2s;
    }

    #mask2-divoz {
      top: -100%;
      -webkit-transition: top 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: top 0.2s;
    }

  }

  #divoz:hover {

    #mask1-divoz{
      top: 400px;
    }

    #mask2-divoz {
      top: 0;
    }

  }
}

/*desktop large*/
@media(min-width:1200px){
  .container-services{
    height: 400px;
    margin: 0;
  }

  #separador-servicios{
    position: absolute;
    top: 300px;
    width: 100%;
  }

  #texto-servicios{
    font-size: 30px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #titulo-divoz{
    padding-top: 7px;
    padding-right: 10%;
    padding-left: 10%;
  }
  
  #titulo-divoz-mask2{
    font-size: 30px;
    padding-top: 7px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #texto-divoz{
    font-size: 30px;
    padding-right: 5%;
    padding-left: 5%;
  }

  #texto-branding{
    font-size: 30px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #texto-servicios-mask2{
    font-size: 30px;
    padding-top: 30px;
    padding-right: 10%;
    padding-left: 10%;
  }

  #descripcion-servicios{
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    top: 150px;
    width: 100%;
  }

  #descripcion-divoz{
    padding-right: 5%;
    padding-left: 5%;
    position: absolute;
    top: 200px;
    width: 100%;
  }

  .mask-servicios1{
    top: 140px;
  }

  .mask-servicios2{
    top: -100%;
  }

  #produccion-eventos {
    
    #mask1-production{
      top: 140px;
      -webkit-transition: top 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: top 0.2s;
    }

    #mask2-production {
      top: -100%;
      -webkit-transition: top 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: top 0.2s;
    }

  }

  #produccion-eventos:hover {
  
    #mask1-production{
      top: 400px;
    }

    #mask2-production {
      top: 0;
    }

  }

  #marketing {
    
    #mask1-marketing{
      top: 140px;
      -webkit-transition: top 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: top 0.2s;
    }

    #mask2-marketing {
      top: -100%;
      -webkit-transition: top 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: top 0.2s;
    }

  }

  #marketing:hover {

    #mask1-marketing{
      top: 400px;
    }

    #mask2-marketing {
      top: 0;
    }

  }

  #branding {
    
    #mask1-branding{
      top: 140px;
      -webkit-transition: top 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: top 0.2s;
    }

    #mask2-branding {
      top: -100%;
      -webkit-transition: top 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: top 0.2s;
    }

  }

  #branding:hover {

    #mask1-branding{
      top: 400px;
    }

    #mask2-branding {
      top: 0;
    }

  }

  #divoz {
    
    #mask1-divoz{
      top: 85px;
      -webkit-transition: top 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: top 0.2s;
    }

    #mask2-divoz {
      top: -100%;
      -webkit-transition: top 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
      transition: top 0.2s;
    }

  }

  #divoz:hover {

    #mask1-divoz{
      top: 400px;
    }

    #mask2-divoz {
      top: 0;
    }

  }
}