= content_for(:title, "Presupuesto Online | Branding")
= render 'layouts/frontend/navigation'

= render 'layouts/frontend/nav_presupuestos'

.error-msg
	- if @brand.errors.count > 0
		Disculpa, existen datos inválidos en la solicitud.
		%br/
		- @brand.errors.each do |name, msg|
			.error
				- if (msg != "Formato inválido") and (msg != "No puede estar en blanco")
					= msg

= simple_form_for(@brand) do |f|

	.titles-inneo{style: "padding-top: 50px !important;"}
		PRESUPUESTO ONLINE
		%br/
		BRANDING
	.separador
		= image_tag("frontend/Separador secciones.png")
	%center
		.textos{style: "padding-bottom: 50px;"}
			Resaltamos el poder de tu marca utilizando estrategias integrales que fortalecen tu imagen y te diferencian en el mercado.
	.form.branding
		.row
			.col-lg-6.col-md-6.col-sm-6
				= f.input :name, label: false, input_html: { class: 'form-control',placeholder: "NOMBRE Y APELLIDO O RAZÓN SOCIAL" }
				= f.input :email, label: false, input_html: { class: 'form-control',placeholder: "CORREO ELECTRÓNICO" }
			.col-lg-6.col-md-6.col-sm-6
				= f.input :telephone, label: false, input_html: { class: 'form-control',placeholder: "NÚMERO DE TELÉFONO" }
				= f.input :brand_name, label: false, input_html: { class: 'form-control',placeholder: "NOMBRE DE LA MARCA O EMPRESA" }

		.subTitles{style: "padding-top: 35px;"}
			IDENTIDAD CORPORATIVA

		.row
			.col-lg-3.col-md-3.col-sm-3.col-xs-6
				= f.input :logo, label: "LOGOTIPO",:wrapper => :inline_checkbox 
				= f.input :email_signature, label: "FIRMA DE CORREO ELECTRÓNICO",:wrapper => :inline_checkbox 
				= f.input :notebook, label: "LIBRETA",:wrapper => :inline_checkbox 
				.hidden-xs#otro_grupo1#tablet1{style: "margin-top: -10px"}
					= f.input :brochure, label: "BROCHURE DE SERVICIOS",:wrapper => :inline_checkbox 

			.col-lg-3.col-md-3.col-sm-3.col-xs-6
				= f.input :tdp, label: "TDP",:wrapper => :inline_checkbox 
				= f.input :products_menu, label: "MENÚ DE PRODUCTOS/SERVICIOS",:wrapper => :inline_checkbox 
				= f.input :carnet, label: "CARNET",:wrapper => :inline_checkbox 
				.hidden-xs#otro_grupo1#tablet1{style: "margin-top: -10px"}
					= check_box_tag "brand[other_corp_check]"
					= label_tag 'OTRO', 'OTRO'

			.col-lg-3.col-md-3.col-sm-3.col-xs-6#columnas-movil
				= f.input :envelope, label: "SOBRE",:wrapper => :inline_checkbox 
				= f.input :brand_menu, label: "MANUAL DE MARCA",:wrapper => :inline_checkbox 
				= f.input :bill, label: "FACTURA",:wrapper => :inline_checkbox 
				#otro_grupo2#tablet2
					= f.input :brochure, label: "BROCHURE DE SERVICIOS",:wrapper => :inline_checkbox 
				
			.col-lg-3.col-md-3.col-sm-3.col-xs-6#columnas-movil
				= f.input :folder, label: "CARPETA",:wrapper => :inline_checkbox 
				= f.input :letterhead, label: "HOJA MEMBRETADA",:wrapper => :inline_checkbox 
				= f.input :uniform, label: "UNIFORME",:wrapper => :inline_checkbox 
			.col-xs-6#otro_grupo2#tablet2{style: ""}
				= check_box_tag "brand[other_corp_check]"
				= label_tag 'OTRO', 'OTRO'
			= f.input :other_corp, label: false, input_html: { class: 'form-control',placeholder: "OTRO" , id: "other_corp", style: "width: 96%; margin-left: 2%;margin-bottom: 20px;"}

		.subTitles
			MATERIAL P.O.P

		.row
			.col-lg-3.col-md-3.col-sm-3.col-xs-6
				= f.input :pens, label: "BOLÍGRAFOS",:wrapper => :inline_checkbox 
				= f.input :stickers, label: "STICKERS",:wrapper => :inline_checkbox 
				= f.input :hats, label: "GORRAS",:wrapper => :inline_checkbox 

			.col-lg-3.col-md-3.col-sm-3.col-xs-6
				= f.input :calendars, label: "CALENDARIOS",:wrapper => :inline_checkbox 
				= f.input :mugs, label: "TAZAS/MUGS",:wrapper => :inline_checkbox 
				= f.input :disposable_ids, label: "IDENTIFICADORES DESECHABLES",:wrapper => :inline_checkbox 

			.col-lg-3.col-md-3.col-sm-3.col-xs-6#columnas-movil
				= f.input :mouse_pad, label: "MOUSE PADS",:wrapper => :inline_checkbox 
				= f.input :coolers, label: "COOLERS",:wrapper => :inline_checkbox 
				= f.input :resin_ids, label: "IDENTIFICADORES CON RESINA",:wrapper => :inline_checkbox 

			.col-lg-3.col-md-3.col-sm-3.col-xs-6#columnas-movil
				= f.input :t_shirts, label: "FRANELAS",:wrapper => :inline_checkbox 
				= f.input :key_chain, label: "LLAVEROS",:wrapper => :inline_checkbox 
				= check_box_tag "brand[other_pop_check]"
				= label_tag 'OTRO', 'OTRO'

			= f.input :other_pop, label: false, input_html: { class: 'form-control',placeholder: "OTRO" , id: "other_pop", style: "width: 96%; margin-left: 2%;margin-bottom: 20px;"}

		.subTitles
			MATERIAL IMPRESO

		.row
			.col-lg-3.col-md-3.col-sm-3.col-xs-6
				= f.input :poster_half_a4, label: "VOLANTE MEDIA CARTA",:wrapper => :inline_checkbox 
				= f.input :press_double, label: "PRENSA DOBLE PAG.",:wrapper => :inline_checkbox 
				= f.input :pennon, label: "PENDÓN",:wrapper => :inline_checkbox 

			.col-lg-3.col-md-3.col-sm-3.col-xs-6
				= f.input :poster_quarter_a4, label: "VOLANTE 1/4 CARTA",:wrapper => :inline_checkbox 
				= f.input :press_half, label: "AVISO DE PRENSA 1/2",:wrapper => :inline_checkbox 
				= f.input :banner, label: "PANCARTA 5x1 MTS",:wrapper => :inline_checkbox 

			.col-lg-3.col-md-3.col-sm-3.col-xs-6#columnas-movil
				= f.input :poster, label: "AFICHE",:wrapper => :inline_checkbox 
				= f.input :press_quarter, label: "AVISO DE PRENSA 1/4",:wrapper => :inline_checkbox 
				.hidden-xs#otro_grupo1
					= check_box_tag "brand[backing_check]"
					= label_tag 'BACKING', 'BACKING (und)'
					= text_field_tag "brand[backing_height]",nil, placeholder: "ALTO", type: "integer",min:"1", class: 'form-control', id: "backing_height", style: "padding: 0; width: 15%; display: inline; height:25px; margin-top: 0 !important; font-size: 12px;"
					%label X
					= text_field_tag "brand[backing_width]",nil, placeholder: "ANCHO", type: "integer", min:"1", class: 'form-control', id: "backing_width", style: "padding: 0;width: 15%; display: inline; height:25px; margin-top: 0 !important; font-size: 12px;"

			.col-lg-3.col-md-3.col-sm-3.col-xs-6#columnas-movil
				= f.input :press_full, label: "AVISO DE PRENSA PAG.COMPLETA",:wrapper => :inline_checkbox 
				= f.input :press_eights, label: "AVISO DE PRENSA 1/8",:wrapper => :inline_checkbox
				.hidden-xs#otro_grupo1
					= check_box_tag "brand[other_printed_check]"
					= label_tag 'OTRO', 'OTRO'
			.col-md-6.col-xs-12#otro_grupo2
				= check_box_tag "brand[backing_check]"
				= label_tag 'BACKING', 'BACKING (und)'
				= text_field_tag "brand[backing_height]",nil, placeholder: "ALTO", type: "number",min:"1", class: 'form-control', id: "backing_height", style: "padding: 0; width: 15%; display: inline-block; height:25px; margin-top: 0 !important; font-size: 12px;margin-left: 15px;"
				%label X
				= text_field_tag "brand[backing_width]",nil, placeholder: "ANCHO", type: "number", min:"1", class: 'form-control', id: "backing_width", style: "padding: 0;width: 15%; display: inline-block; height:25px; margin-top: 0 !important; font-size: 12px;"
				%br
				= check_box_tag "brand[other_printed_check]"
				= label_tag 'OTRO', 'OTRO'

			= f.input :other_printed, label: false, input_html: { class: 'form-control',placeholder: "OTRO" , id: "other_printed", style: ";width: 96%; margin-left: 2%;margin-bottom: 20px;"}

		.form-actions
			%center
				= button_tag type: 'submit', :data => { :confirm => '¿Está seguro de querer enviar esta solicitud?' }, class: "btn-presupuesto", style: "padding-bottom: 10px; padding-top: 10px; padding-left: 20px; padding-right: 20px; border-radius: 4px !important; margin-bottom: 50px; margin-top: 40px;" do 
					ENVIAR
					%i.fa.fa-chevron-right

= render 'frontend/contact'

:javascript

	$('#other_pop').hide();
	$('#other_corp').hide();
	$('#other_printed').hide();
	$('input[name="brand[backing_height]"').prop('disabled', true);
	$('input[name="brand[backing_width]"').prop('disabled', true);

	
	$('input[name="brand[other_pop_check]"]').change(function() {
		var otro = $('input:checked[name="brand[other_pop_check]"]').is(':checked')
		$('#other_pop').toggle(otro);
	});
	$('input[name="brand[other_corp_check]"]').change(function() {
		var otro = $('input:checked[name="brand[other_corp_check]"]').is(':checked')
		$('#other_corp').toggle(otro);
	});
	$('input[name="brand[other_printed_check]"]').change(function() {
		var otro = $('input:checked[name="brand[other_printed_check]"]').is(':checked')
		$('#other_printed').toggle(otro);
	});


	$('input[name="brand[backing_check]"]').change(function() {
		if ($('input[name="brand[backing_check]"]').is(':checked') ){
			$('input[name="brand[backing_height]"').prop('disabled', false);
			$('input[name="brand[backing_width]"').prop('disabled', false);
		}else{
			$('input[name="brand[backing_height]"').prop('disabled', true);
			$('input[name="brand[backing_width]"').prop('disabled', true);
		}
		
	});
	