= content_for(:title, "Admin - Branding | #{@brand.name}")
- flash.each do |name, msg|
	- if msg.is_a?(String)
		%div.hidden-xs{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}", id:"message_alerts"}
			%button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
			= content_tag :div, msg, :id => "flash_#{name}"
%div
	.panel.panel-default{style:"margin-top:50px"}
		.panel-heading#heading-show{style:"padding-top:5px"}
			.actions
				.title.pull-left{ style: "margin-top:8px;" }
					%i.fa.fa-user
					Solicitud de Presupuesto - 
					= @brand.id
				- if can? :destroy, User
					= link_to brand_path(@brand), title: t('admin.actions.delete'), :method => :delete, :data => { :confirm => '¿Estas seguro de querer eliminar este usuario?' }, class: "btn btn-default btn-action pull-right" do
						%i.fa.fa-remove
				- if can? :edit, User
					= link_to  edit_brand_path(@brand), title: t('admin.actions.edit'), class: "btn btn-default btn-action pull-right", style: "margin-right:3px;" do
						%i.fa.fa-pencil		

		.panel-body#body-show
			%label= 'Nombre y Apellido o Razón Social: '
			= @brand.name
			%br/
			%label= 'Email: '
			= @brand.email
			%br/
			%label= 'Número de Teléfono: '
			= @brand.telephone
			%br/
			%label= 'Tipo de Evento: '
			= @brand.brand_name
			%br/
			.col-lg-4.col-md-4.col-sm-4.col-xs-4
				%label IDENTIDAD CORPORATIVA
				%br/
				%div{style: "margin-left: 20px;"}
					= @brand.logo ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Logotipo
					%br/
					= @brand.tdp ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label TDP
					%br/
					= @brand.envelope ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Sobre
					%br/
					= @brand.folder ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Carpeta
					%br/
					= @brand.email_signature ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Firma de Correo Electrónico
					%br/
					= @brand.products_menu ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Menú de Productos
					%br/
					= @brand.brand_menu ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Manual de Marca
					%br/
					= @brand.letterhead ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Hoja Membretada
					%br/
					= @brand.notebook ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Libreta
					%br/
					= @brand.carnet ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Carnet
					%br/
					= @brand.bill ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Factura
					%br/
					= @brand.uniform ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Uniforme
					%br/
					= @brand.brochure ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Brochure de Servicios
					%br/
					- if @brand.other_corp != ""
						%label Otro: 
						= @brand.other_corp
						%br/
			.col-lg-4.col-md-4.col-sm-4.col-xs-4
				%label MATERIAL P.O.P
				%br/
				%div{style: "margin-left: 20px;"}
					= @brand.pens ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Bolígrafos
					%br/
					= @brand.calendars ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Calendarios
					%br/
					= @brand.mouse_pad ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Mouse Pads
					%br/
					= @brand.disposable_ids ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Identificadores Desechables
					%br/
					= @brand.resin_ids ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Identificadores con Resina
					%br/
					= @brand.mugs ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Tazas/Mugs
					%br/
					= @brand.coolers ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Coolers
					%br/
					= @brand.key_chain ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Llaveros
					%br/
					= @brand.hats ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Gorras
					%br/
					= @brand.t_shirts ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Franelas
					%br/
					= @brand.stickers ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Stickers
					%br/
					- if @brand.other_pop != ""
						%label Otro: 
						= @brand.other_pop
						%br/
			.col-lg-4.col-md-4.col-sm-4.col-xs-4
				%label MATERIAL IMPRESO
				%br/
				%div{style: "margin-left: 20px;"}
					= @brand.poster_half_a4 ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Volante Media Carta
					%br/
					= @brand.poster_quarter_a4 ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Volante 1/4 Carta
					%br/
					= @brand.poster ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Afiche
					%br/
					= @brand.press_full ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Aviso de prensa pag. Completa
					%br/
					= @brand.press_double ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Aviso de prensa Doble Página
					%br/
					= @brand.press_half ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Aviso de prensa 1/2
					%br/
					= @brand.press_quarter ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Aviso de prensa 1/4
					%br/
					= @brand.press_eights ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Aviso de prensa 1/8
					%br/
					= @brand.pennon ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Pendón
					%br/
					= @brand.banner ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Pancarta 5x1mts
					%br/
					= @brand.backing ? "<i class='fa fa-check-circle'></i>".html_safe : "<i class='fa fa-close'></i>".html_safe
					%label Backing
					= @brand.backing
					%br/
					- if @brand.other_printed != ""
						%label Otro: 
						= @brand.other_printed
						%br/


